@model Banner.Areas.Admin.Controllers.CourseController.cCourse_Edit
@{
    ViewBag.Title = "Category_Edit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {
                <form method="post" id="form1">
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">課程資訊</div>
                            </div>
                            <div class="form-card">

                                <div class="form-group">
                                    <label>課程分類<span>*</span></label>
                                    @Html.DropDownList("ddl_CC", Model.CCSL, new { @class = "form-select form-control-lg" })
                                </div>
                                <div class="form-group">
                                    <label>課程名稱<span>*</span></label>
                                    @Html.TextBox("txb_Title", Model.C.Title, new { @class = "form-control form-control-lg input-underline" })
                                </div>
                                <div class="form-group">
                                    <label>課程類型</label><br />
                                    @for (int i = 0; i < Model.sCourseType.Length; i++)
                                    {
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButton("rbl_CourseType", i, Model.C.CourseType == i, new { @id = ("rbl_CourseType" + i), @class = "form-check-input" })
                                            @Html.Label(Model.sCourseType[i], new { @class = "form-check-label", @for = ("rbl_CourseType" + i) })
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label>課程內容</label>
                                    @Html.TextArea("txb_CourseInfo", Model.C.CourseInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>對象資格說明</label>
                                    @Html.TextArea("txb_TargetInfo", Model.C.TargetInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>結業資格說明</label>
                                    @Html.TextArea("txb_GraduationInfo", Model.C.GraduationInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>經典課程</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ClassicalFlag", true, Model.C.ClassicalFlag, new { @id = "cbox_ClassicalFlag1", @class = "form-check-input" })
                                                @Html.Label("是", new { @class = "form-check-label", @for = "cbox_ClassicalFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ClassicalFlag", false, !Model.C.ClassicalFlag, new { @id = "cbox_ClassicalFlag2", @class = "form-check-input" })
                                                @Html.Label("否", new { @class = "form-check-label", @for = "cbox_ClassicalFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>啟用狀態</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", true, Model.C.ActiveFlag, new { @id = "cbox_ActiveFlag1", @class = "form-check-input" })
                                                @Html.Label("啟用", new { @class = "form-check-label", @for = "cbox_ActiveFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", false, !Model.C.ActiveFlag, new { @id = "cbox_ActiveFlag2", @class = "form-check-input" })
                                                @Html.Label("停用", new { @class = "form-check-label", @for = "cbox_ActiveFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.C.CID > 0 && ((bool[])ViewBag._Power)[3])
                                {
                                    <div class="form-group">
                                        <label>刪除</label>
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_DeleteFlag", Model.C.DeleteFlag, new { @class = "form-check-input" })
                                                    @Html.Label("更新後刪除", new { @class = "form-check-label" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-body mt-4">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">擋修課程與上課對象</div>
                            </div>
                            <div class="form-card">

                                <div class="form-group">
                                    <label>先修課程</label>
                                    <a class="ms-2" href="javascript:;" onclick="AddRow1();"><i class="fa-solid fa-circle-plus lab_DarkBlue me-2"></i></a>
                                    <input type="hidden" id="txb_AddCourseCt" name="txb_AddCourseCt" value="0" />
                                    <div id="div_BeforeCourse">
                                        @foreach (var CB in Model.CBs.Where(q => q.CRID > 0).OrderBy(q => q.CRID))
                                        {
                                            <div id="div_AddCourse_@CB.CRID" class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-4 col-12">
                                                        @Html.DropDownList("ddl_CCDB_" + CB.CRID, CB.CCSL_Before, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this);" })
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        @Html.DropDownList("ddl_CDB_" + CB.CRID, CB.CSL_Before, new { @class = "form-select form-control-lg" })
                                                    </div>
                                                    <div class="col-lg-2 col-12 text-lg-end text-start">
                                                        <a href="javascript:;" onclick="RemoveRow('div_AddCourse_@CB.CRID');"><i class="fa-solid fa-trash lab_DarkBlue"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>限制性別</label><br />
                                    @{
                                        int iSex = -1;
                                        var CR2 = Model.CRs.FirstOrDefault(q => q.TargetType == 2);
                                        if (CR2 != null)
                                        {
                                            iSex = CR2.TargetInt1;
                                        }
                                    }
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButton("rbl_Sex", -1, iSex == -1, new { @id = "cbox_Sex1", @class = "form-check-input" })
                                        @Html.Label("不限制", new { @class = "form-check-label", @for = "cbox_Sex1" })
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButton("rbl_Sex", 1, iSex == 1, new { @id = "cbox_Sex1", @class = "form-check-input" })
                                        @Html.Label("男", new { @class = "form-check-label", @for = "cbox_Sex1" })
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButton("rbl_Sex", 0, iSex == 0, new { @id = "cbox_Sex2", @class = "form-check-input" })
                                        @Html.Label("女", new { @class = "form-check-label", @for = "cbox_Sex2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>限制年齡</label><br />
                                    @{
                                        int iAge_Min = 0, iAge_Max = 0;
                                        var CR3 = Model.CRs.FirstOrDefault(q => q.TargetType == 3);
                                        if (CR3 != null)
                                        {
                                            iAge_Min = CR3.TargetInt1;
                                            iAge_Max = CR3.TargetInt2;
                                        }
                                    }
                                    <div class="row">
                                        <div class="col-4">
                                            @Html.TextBox("txb_Age_Min", iAge_Min, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                        </div>
                                        <div class="col-auto pt-3">
                                            以上 至
                                        </div>
                                        <div class="col-4">
                                            @Html.TextBox("txb_Age_Max", iAge_Max, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                        </div>
                                        <div class="col-auto pt-3">
                                            以下
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>牧養職分</label><br />
                                    @foreach (var CR1 in Model.OSL)
                                    {
                                        <div class="form-check form-check-inline">
                                            @Html.CheckBox("cbox_O" + CR1.Value, CR1.Selected, new { @id = "cbox_O" + CR1.Value, @class = "form-check-input" })
                                            @Html.Label(CR1.Text, new { @class = "form-check-label", @for = "cbox_O" + CR1.Value })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div id="div_BeforeCourse_Bata" class="d-none">
    <div id="div_AddCourse_*" class="mt-3">
        <div class="row">
            <div class="col-lg-4 col-12">
                @Html.DropDownList("ddl_CC_*", Model.CBs[0].CCSL_Before, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this," + Model.C.CID + ");" })
            </div>
            <div class="col-lg-6 col-12">
                @Html.DropDownList("ddl_C_*", Model.CBs[0].CSL_Before, new { @class = "form-select form-control-lg", @id = "ddl_C_*" })
            </div>
            <div class="col-lg-2 col-12 text-lg-end text-start">
                <a href="javascript:;" onclick="RemoveRow('div_AddCourse_*');"><i class="fa-solid fa-trash lab_DarkBlue"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="action-bar">
    @if (Model != null)
    {
        if ((((bool[])ViewBag._Power)[1] && Model.C.CID == 0) || (((bool[])ViewBag._Power)[2] && Model.C.CID > 0))
        {
            <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;" class="btn btn-primary btn-submit btn-lg btn-round btn-submit">
                <i class="fa-solid fa-floppy-disk"></i>儲存
            </a>
        }
        <a href="/Admin/Course/Course_List/0" class="btn btn-outline-primary btn-lg btn-round">
            <i class="fa-solid fa-xmark"></i>取消
        </a>
    }
</div>
<script>
    function AddRow1() {
        var sCt = document.getElementById('txb_AddCourseCt');
        var iCt = parseInt(sCt.value) + 1;
        var str = document.getElementById("div_BeforeCourse_Bata").innerHTML;
        for (i = 0; i < 10; i++) {
            str = str.replace('*', iCt);
        }
        document.getElementById('div_BeforeCourse').innerHTML += str;
        sCt.value = iCt;
    }
    /*取得課程選單*/
    function GetCourseddl(ddl, CID) {
        var sControlTitle = '';
        if (ddl.name.includes('DB')) {
            var iSort = parseInt(ddl.name.replace('ddl_CCDB_', ''), 10);
            sControlTitle = 'ddl_CDB_' + iSort;
        }
        else {
            var iSort = parseInt(ddl.name.replace('ddl_CC_', ''), 10);
            sControlTitle = 'ddl_C_' + iSort;
        }
        var Nextddl = document.getElementById(sControlTitle);
        Nextddl.innerHTML = '';
        Nextddl.append('<option value="-1" selected>請選擇</option>');
        $.ajax({
            url: '/Admin/Home/GetCourseCagegorySelect?CCID=' + ddl.value + "&CID=" + CID,
            method: 'GET',
            dataType: 'json',
            success: function (res) {
                $.each(res, function (index) {
                    Nextddl.innerHTML += ('<option value="' + res[index].value + '">' + res[index].Text + '</option>');
                });
            },
            error: function (err) { console.log(err) },
        })
        
    }

    function RemoveRow(RowID) {
        document.getElementById(RowID).remove();
    }
</script>

