
@{
    ViewBag.Title = "GroupMeet_List";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<div class="body-container container_phone">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/Home/Index">首頁</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="/Web/AccountPlace/Index">會員中心首頁</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="">小組聚會歷程</a></li>
            </ol>
        </nav>
        <div class="header-container">
            <div class="header-left-border"></div>
            <h5 class="header">小組聚會歷程</h5>

        </div>

        <div class="container-lg">
            <form id="form1" method="post">
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <label class="lab_DarkBlue">聚會日：</label>
                                <span class="lab_info">@("星期天")</span>
                            </div>
                            <div class="col-auto">
                                <label class="lab_DarkBlue">聚會時間：</label>
                                <span class="lab_info">@("12:00~13:00")</span>
                            </div>
                            <div class="col-auto">
                                <label class="lab_DarkBlue">聚會地點：</label>
                                <span class="lab_info">@("台中旌旗")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <div class="form-group">
                                    <label>聚會日期：</label>
                                    <div class="row">
                                        <div class="col-lg-auto col-12">
                                            @Html.TextBox("txb_SDate", "2023-10-10", new {@class= "form-control", type="date"})
                                        </div>
                                        <div class="col-lg-auto col-12 text-center">~</div>
                                        <div class="col-lg-auto col-12">
                                            @Html.TextBox("txb_EDate", "2023-10-10", new { @class = "form-control", type = "date" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-12 text-lg-end text-center pt-4">
                                
                                <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn btn-primary btn-lg btn-submit btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        @Html.Action("_TableList", "Include", new { cTL = Model })
                    </div>
                </div>

            </form>
            
        </div>
    </div>
</div>

