@model Banner.Areas.Web.Controllers.AccountPlaceController.cAccountPlace_Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}
<style>
    .section-container {
        margin-top: 56px;
        gap: 48px;
    }

    .card {
        display: inline-block;
        width: 100%;
    }
</style>
<div class="body-container pt-3">
    @if (Model != null)
    {
        <div class="section-container">
            <section class="section w-100">
                <div class="section-header">
                    會員職分
                </div>
                <div class="card-columns">
                    <div class="card p-4 m-2">
                        <div class="card-body">
                            <h3 class="lab_DarkBlue mb-3">@Model.Name</h3>
                            @if (Model.Title_OI != "")
                            {
                                <p><span class="lab_DarkBlue">●</span> @("職分：")<span style="font-weight:bold">@(Model.Title_OI)</span></p>
                            }
                            @if (Model.Title_Staff != "")
                            {
                                <p><span class="lab_DarkBlue">●</span> @("事工團：")<span style="font-weight:bold">@(Model.Title_Staff)</span></p>
                            }
                            @if (Model.Title_Teacher != "")
                            {
                                <p><span class="lab_DarkBlue">●</span> @("講師：")<span style="font-weight:bold">@(Model.Title_Teacher)</span></p>
                            }
                        </div>
                    </div>

                    @if (Model.c_MyClass.Count > 0)
                    {

                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_ContextBlue mb-3">上課中課程</h4>
                                @foreach (var M in Model.c_MyClass)
                                {
                                    <p><span class="lab_DarkBlue">●</span> <a href="@M.Url">@M.Title</a></p>
                                }
                            </div>
                        </div>

                    }
                    @if (Model.MyGroup.Title != "")
                    {

                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_ContextBlue mb-3">我的小組</h4>
                                <p><span class="lab_ContextBlue" style="font-size:12px">●</span> <span class="lab_ContextBlue">@Model.MyGroup.Title</span></p>
                                <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會日：@Model.MyGroup.Date</p>
                                <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會時間：@Model.MyGroup.Time</p>
                                <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會地點：@Model.MyGroup.Address</p>
                                @if (Model.bShowChange)
                                {
                                    <p>
                                        <button type="button" id="but_ShowPopup" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup_ChangeGroup">
                                            更換小組申請
                                        </button>
                                    </p>
                                    <p>@Model.sChangeOI</p>
                                }
                            </div>
                        </div>

                    }
                    @if (Model.MyGroups.Count > 0)
                    {

                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_ContextBlue mb-3">小組長專區</h4>
                                @foreach (var M in Model.MyGroups)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <p><span class="lab_ContextBlue" style="font-size:12px">●</span> <span class="lab_ContextBlue">@M.Title</span></p>
                                            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會日：@M.Date</p>
                                            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會時間：@M.Time</p>
                                            <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會地點：@M.Address</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    }

                    @if (Model.c_Teacher.Count > 0)
                    {
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_ContextBlue mb-3">講師專區</h4>
                                @foreach (var M in Model.c_Teacher)
                                {
                                    <p><span class="lab_DarkBlue">●</span> <a href="@M.Url">@M.Title</a></p>
                                }
                            </div>
                        </div>
                    }

                    <div class="card p-4 m-2">
                        <div class="card-body">
                            <h4 class="lab_ContextBlue mb-3">屬靈健檢表</h4>
                            <form id="form1" method="post" novalidate>
                                <table class="table table_RWDStyle table_Index">
                                    <tbody>
                                        <tr class="Bgn" style="background-color:unset;">
                                            <td><label class="lab_DarkBlue">日期</label></td>
                                            <td><label class="lab_DarkBlue">是否主日</label><br />(是, 請打V)</td>
                                            <td><label class="lab_DarkBlue">當周靈修(QT)次數</label><br />(請填數字)</td>
                                        </tr>
                                        @for (int i = 0; i < Model.SL_Spiritual.Count; i++)
                                        {
                                            var SL = Model.SL_Spiritual[i];
                                            <tr>
                                                <td>@SL.Text</td>
                                                <td align="center">
                                                    <input id="hid_@(i)" name="hid_@(i)" type="hidden" value="@SL.Text" />
                                                    <input id="cbox_@(i)" name="cbox_@(i)" type="checkbox" class="form-check-input" @(SL.Selected ? "checked=\"checked\"" : "") ) />
                                                </td>
                                                <td align="center">
                                                    <input id="txb_@(i)" name="txb_@(i)" type="number" value="@SL.Value" class="form-control d-inline" oninput="if(value>100)value=100;if(value<0)value=0" style="width:100px;" />
                                                </td>
                                            </tr>

                                        }
                                    </tbody>

                                </table>


                                <button class="btn btn-success" type="submit">儲存</button>

                            </form>
                        </div>
                    </div>

                    @if (Model.bFriendFlag)//顯示會友卡
                    {
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_ContextBlue mb-3">會友卡</h4>
                                <section class="section w-100">
                                    <div style="position: relative; ">
                                        <img src="/Areas/Web/Content/Img/MemberCard.png" class="black-shadow CircleBorder_25" />
                                        <span style="position:absolute;top:140px; left:20px;"><b>@(Model.Name)</b></span>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    }
</div>
<script>
    function ChangeGroupID() {
        var GID = document.getElementById('txb_GroupID').value;
        $.ajax({
            url: '/Web/AccountPlace/AddChangeGroup?GID=' + GID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                if (res == 'OK') {
                    Swal.fire({
                        icon: 'success',
                        html: '您的申請已提出,請靜待審核'
                    }).then((result) => { if (result.isConfirmed) { location.reload(); } });;
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        html: res
                    });
                }
            },
            error: function (err) { console.log(err) },
        });
    }

</script>
<style>

    /* 區塊陰影及高光效果 */
    .black-shadow {
        box-shadow: 6px 6px 16px rgba(0,0,0,0.3);
    }

    .CircleBorder_25 {
        border: 0px solid #FFF;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
</style>