@model Banner.Areas.Web.Controllers.AccountPlaceController.cAccountPlace_Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}
<style>
    .section-container {
        margin-top: 56px;
        gap: 48px;
    }
</style>
<div class="body-container pt-3">
    @if (Model != null)
    {
        <div class="section-container">
            <section class="section w-100">
                <div class="section-header">
                    會員職分
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h3 class="lab_DarkBlue mb-3">@Model.Name</h3>
                                @if (Model.Title_OI != "")
                                {
                                    <p><span class="lab_DarkBlue">●</span> @("職分：")<span style="font-weight:bold">@(Model.Title_OI)</span></p>
                                }
                                @if (Model.Title_Staff != "")
                                {
                                    <p><span class="lab_DarkBlue">●</span> @("事工團：")<span style="font-weight:bold">@(Model.Title_Staff)</span></p>
                                }
                                @if (Model.Title_Teacher != "")
                                {
                                    <p><span class="lab_DarkBlue">●</span> @("講師：")<span style="font-weight:bold">@(Model.Title_Teacher)</span></p>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.c_MyClass.Count > 0)
                    {
                        <div class="col-lg-6 col-12">
                            <div class="card p-4 m-2">
                                <div class="card-body">
                                    <h4 class="lab_info mb-3">上課中</h4>
                                    @foreach (var M in Model.c_MyClass)
                                    {
                                        <p><span class="lab_DarkBlue">●</span> <a href="@M.Url">@M.Title</a></p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.MuGroup.Title != "")
                    {
                        <div class="col-lg-6 col-12">
                            <div class="card p-4 m-2">
                                <div class="card-body">
                                    <h4 class="lab_info mb-3">我的小組</h4>
                                    <p><span class="lab_DarkBlue">●</span> <span class="lab_info">@Model.MuGroup.Title</span></p>
                                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會日：@Model.MuGroup.Date</p>
                                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會時間：@Model.MuGroup.Time</p>
                                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>聚會地點：@Model.MuGroup.Address</p>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-lg-6 col-12">
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_info mb-3">小組長園地</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_info mb-3">講師專區</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_info mb-3">屬靈健檢表</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card p-4 m-2">
                            <div class="card-body">
                                <h4 class="lab_info mb-3">會友卡</h4>
                                @if (Model.bFriendFlag)//顯示會友卡
                                {
                                    <section class="section w-100">
                                        <div style="position:relative">
                                            <img src="/Areas/Web/Content/Img/MemberCard.png" style="border: 2px solid #999; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;" />
                                            <span style="position:absolute;top:140px; left:20px;"><b>@(Model.Name)</b></span>
                                        </div>
                                    </section>
                                }
                            </div>
                        </div>
                    </div>
                </div>









            </section>
        </div>
    }
</div>