@model Banner.Areas.Admin.Controllers.StaffSetController.cStaffAccount_List
@{
    ViewBag.Title = "OI_Staff_List";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
        <input type="hidden" id="txb_SID" value="@ViewBag.SID" />
        <input type="hidden" id="txb_OIID" value="@ViewBag.OIID" />
        <input type="hidden" id="txb_Child" value="@ViewBag.Child" />
    </div>
    <div class="body-container">
        @if (Model != null)
        {
            <div class="search-form">
                <div class="search-form-section">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <label>姓名</label>
                            @Html.TextBox("txb_Name", "", new { @class = "form-control form-control-lg" })
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="col-lg-6 col-12 text-lg-end text-center pt-4">
                                <a href="javascript:;" onclick="Search();" class="btn btn-primary btn-lg btn-submit btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-container">
                <div class="card p-2">
                    <div class="row" id="div_Control">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-lg btn-submit btn-round m-2" data-bs-toggle="modal" data-bs-target="#AddAccount">
                                新增團員
                            </button>
                            <a a href="javascript:;" onclick="RemoveAC()" class="btn btn-primary btn-lg btn-submit btn-round m-2">移除團員</a>
                        </div>

                    </div>
                    <table class="table_RWDStyle table">
                        <thead>
                            <tr class="Bgn">
                                <th></th>
                                <th>會員ID</th>
                                <th>姓名</th>
                                <th>所屬小組</th>
                                <th>手機</th>
                                <th>加入日期</th>
                                <th>主責</th>
                            </tr>

                        </thead>
                        <tbody id="tbody_main">
                            @if (Model.cTL != null)
                            {
                                foreach (var R in Model.cTL.Rs.OrderBy(q => q.SortNo))
                                {
                                    <tr class="@R.CSS">
                                        <td><input type="checkbox" id="@R.Cs[0].Value" name="cbox_Staff" class="form-check-input" /></td>
                                        <td>@R.Cs[1].Value</td>
                                        <td>@R.Cs[2].Value</td>
                                        <td>@R.Cs[3].Value</td>
                                        <td>@R.Cs[4].Value</td>
                                        <td>@R.Cs[5].Value</td>
                                        <td>@R.Cs[6].Value</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="AddAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title lab_DarkBlue" id="staticBackdropLabel">新增事工團同工</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="but_Close"></button>
            </div>
            <div class="modal-body">

                姓名：<input id="txb_Name_Add" class="form-control form-control-lg" placeholder="姓名關鍵字" />
                <button class="btn btn-primary btn-lg btn-submit btn-round m-2" onclick="SearchName(this);"><i class="fa-solid fa-magnifying-glass"></i>查詢</button>
                <hr />
                <div style="height:200px; overflow-y:scroll" id="div_Table" class="p-1 div_dark_gray">

                    <table class="table_RWDStyle table">
                        <thead>
                            <tr class="Bgn">
                                <th></th>
                                <th>會員ID</th>
                                <th>姓名</th>
                                <th>所屬小組</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_Add">
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-submit btn-round m-2" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-lg btn-submit btn-round m-2" onclick="AddAccounts();">送出</button>
            </div>
        </div>
    </div>
</div>
<style>
    .tr_Leader {
        background-color: lightcyan;
    }

    .tr_End td {
        border-top: double 2px #CCC;
    }
</style>
<script>

    //查詢事工團名單
    function Search() {
        var SID = $('#txb_SID').val();
        var OIID = $('#txb_OIID').val();
        var Name = $('#txb_Name').val();
        var table = $('#tbody_main')[0];
        table.innerHTML = "";

        $.ajax({
            url: '/Admin/StaffSet/GetStaffAccountList?Name=' + Name + '&SID=' + SID + '&OIID=' + OIID + '&BUFlag=false',
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.length == 0) { table.innerHTML = "<tr><td colspan='8'>本團目前沒有團員</td></tr>"; }
                else {
                    var sOITitle = "";
                    for (i = 0; i < r.length; i++) {
                        var Color = '';
                        if (r[i].LeaderFlag) {
                            Color = ' class="tr_Leader"';
                        }
                        if (sOITitle != r[i].OI2Title) {
                            sOITitle = r[i].OI2Title;
                            if (i > 0) {
                                if (Color == '') {
                                    Color = ' class="tr_End "';
                                }
                                else {
                                    Color = ' class="tr_Leader tr_End "';
                                }
                            }
                        }
                        var str = "<tr " + Color + ">"
                        str += "<td><input type=\"checkbox\" id=\"cbox_Staff_" + r[i].MID + "\" name='cbox_Staff' class=\"form-check-input\" /></td>";
                        str += "<td>" + r[i].ACID + "</td>";
                        str += "<td>" + r[i].Name + "</td>";
                        str += "<td>" + r[i].GroupName + "</td>";
                        str += "<td>" + r[i].Contect + "</td>";
                        str += "<td>" + r[i].JoinDate + "</td>";
                        str += "<td>" + r[i].LeaderFlag + "</td>";
                        str += "</tr>";

                        table.innerHTML += str;
                    }
                }
            },
            error: function (err) { console.log(err) },
        })

    }
    //搜尋會友
    function SearchName(but) {
        var SID = $('#txb_SID').val();
        var OIID = $('#txb_OIID').val();
        var Name = $("#txb_Name_Add").val();
        var Child = $("#txb_Child").val();
        var table = $('#tbody_Add')[0];
        table.innerHTML = "";

        if (Name == "") { alert("請輸入姓名"); }
        else {
            if (but != null) { but.classList.add("btn-loading"); }
            $('#div_Table').addClass('div_dark_gray');
            $.ajax({
                url: '/Admin/Home/GetAccountList?Name=' + Name + '&OIID=' + OIID + '&ChildFlag=' + Child,
                method: 'GET',
                dataType: 'text',
                success: function (res) {
                    var r = JSON.parse(res);
                    if (r.length == 0) { table.innerHTML = "<tr><td colspan='4'>搜尋沒有結果</td></tr>"; }
                    else {
                        for (i = 0; i < r.length; i++) {
                            var str = "<tr>";
                            str += "<td><input type=\"checkbox\" id=\"cbox_AC_Add_" + r[i].ACID + "\" name='cbox_AC_Add' class=\"form-check-input\" /></td>";
                            str += "<td>" + r[i].ACID + "</td>";
                            str += "<td>" + r[i].Name + "</td>";
                            str += "<td>" + r[i].GroupName + "</td>";
                            str += "</tr>";

                            table.innerHTML += str;
                        }
                    }
                    if (but != null) { but.classList.remove("btn-loading"); }
                    $('#div_Table').removeClass('div_dark_gray');

                },
                error: function (err) { console.log(err) },
            })

        }
    }
    //新增會員進入事工團
    function AddAccounts() {
        var SID = $('#txb_SID').val();
        var OIID = $('#txb_OIID').val();
        var IDs = GetSelect('cbox_AC_Add');
        if (IDs == "") { alert("請選擇要加入的團員"); }
        else {
            $.ajax({
                url: '/Admin/Home/SaveACToTargetGroup?IDs=' + IDs + '&TargetTable=Staff&ID1=' + SID + '&ID2=' + OIID,
                method: 'GET',
                dataType: 'text',
                success: function (res) {
                    var r = JSON.parse(res);
                    if (r.Messages.length == 0) {
                        Swal.fire({
                            icon: 'success',
                            html: '團員編入完成',

                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = '/Admin/StaffSet/StaffAccount_List/' + SID;
                            }
                            else {
                                Swal.close();
                                return;
                            }
                        });

                    }
                    else {
                        var str = '';
                        for (i = 0; i < r.Messages.length; i++) {
                            str += (str == '' ? '' : '<br/>') + r.Messages[i];
                        }
                        Swal.fire({
                            icon: 'error',
                            html: str
                        });
                    }
                },
                error: function (err) { console.log(err) },
            })

            document.getElementById('but_Close').click();
        }
    }
    //選擇名單
    function GetSelect(Name) {
        var cboxs = document.getElementsByName(Name);
        var IDs = "";
        for (i = 0; i < cboxs.length; i++) {
            if (cboxs[i].checked) {
                var sACID = cboxs[i].id.replace(Name + '_', '');
                IDs += (IDs == "" ? "" : ",") + sACID;
            }
        }
        return IDs;
    }
    //移除團員
    function RemoveAC() {
        var SID = $('#txb_SID').val();
        var IDs = GetSelect('cbox_Staff');
        $.ajax({
            url: '/Admin/Home/RemoveACFromStaff?IDs=' + IDs + '&SID=' + SID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.Messages.length == 0) {
                    Swal.fire({
                        icon: 'success',
                        html: '團員移除完成'
                    });

                    Search();
                }
                else {
                    var str = '';
                    for (i = 0; i < r.Messages.length; i++) {
                        str += (str == '' ? '' : '<br/>') + r.Messages[i];
                    }
                    Swal.fire({
                        icon: 'error',
                        html: str
                    });
                }
            },
            error: function (err) { console.log(err) },
        })
    }
</script>
<style>
    .div_dark_gray {
        background-color: rgba(0, 0, 0, .3);
        z-index: 2000;
    }

        .div_dark_gray table {
            display: none;
        }
</style>