@model Banner.Areas.Web.Controllers.AccountAddController.cStep4
@{
    ViewBag.Title = "Step1";
    Layout = "~/Areas/Web/Views/Include/_MasterAccountAdd.cshtml";
}
<style>
    span.circle-on {
        font-family: Courier, Arial;
        font-size: 18px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        background-color: rgb(12, 49, 118);
        border: 3px solid rgb(12, 49, 118);
        color: #fff;
        display: block;
        float: left;
        height: 45px;
        padding: 7px 8px 13px 8px;
        text-align: center;
        vertical-align: top;
        width: 45px;
    }

    span.circle-off {
        font-family: Courier, Arial;
        font-size: 18px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        background-color: #CCC;
        border: 3px solid #CCC;
        color: #fff;
        display: block;
        float: left;
        height: 45px;
        padding: 7px 8px 13px 8px;
        text-align: center;
        vertical-align: top;
        width: 45px;
    }

    div.topbar-on-xl {
        height: 3px;
        width: 180px;
        background-color: rgb(12, 49, 118);
        margin-top: 20px;
    }

    div.topbar-off-xl {
        height: 3px;
        width: 180px;
        background-color: #CCC;
        margin-top: 20px;
    }

    div.topbar-on {
        height: 3px;
        width: 80px;
        background-color: rgb(12, 49, 118);
        margin-top: 20px;
    }

    div.topbar-off {
        height: 3px;
        width: 80px;
        background-color: #CCC;
        margin-top: 20px;
    }

    .form-control-lg {
        min-height: 0 !important;
    }

    label {
        font-size: 1.25rem;
    }
    /*本頁客製*/
    .card-header {
        background-color: #e9f1ff;
        color: #0c3176;
    }

    .card-body {
        background-color: #fafcff;
    }

    .swal2-title {
        background-color: #0c3176;
        color: #FFF;
        padding-bottom: 15px;
    }
</style>
<!--上方步驟-->
<div class="row p-xxl-5 p-2 mt-4 justify-content-md-center">
    <div class="col-sm-auto col p-0">
        <span class="circle-on">1</span>
    </div>
    <div class="col-sm-auto col p-0">
        <div class="topbar-on-xl d-xl-block d-none"></div>
        <div class="topbar-on d-xl-none d-sm-block d-none"></div>
    </div>
    <div class="col-sm-auto col p-0">
        <span class="circle-on">2</span>
    </div>
    <div class="col-sm-auto col p-0">
        <div class="topbar-on-xl d-xl-block d-none"></div>
        <div class="topbar-on d-xl-none d-sm-block d-none"></div>
    </div>
    <div class="col-sm-auto col p-0">
        <span class="circle-on">3</span>
    </div>
    <div class="col-sm-auto col p-0">
        <div class="topbar-on-xl d-xl-block d-none"></div>
        <div class="topbar-on d-xl-none d-sm-block d-none"></div>
    </div>
    <div class="col-sm-auto col p-0">
        <span class="circle-on">4</span>
    </div>
    <div class="col-sm-auto col p-0">
        <div class="topbar-off-xl d-xl-block d-none"></div>
        <div class="topbar-off d-xl-none d-sm-block d-none"></div>
    </div>
    <div class="col-sm-auto col p-0">
        <span class="circle-off">5</span>
    </div>
</div>
<div class="row justify-content-md-center">

    <div class="col-lg-8 col">
        <div class="row">
            <div class="col-auto">
                <div style="width: 10px; background-color: rgb(12, 49, 118); height:32px;"></div>
            </div>
            <div class="col-auto">
                <label>旌旗小組調查</label>
            </div>
        </div>
        <div class="row">
            <div class="col pt-2">
                <div style="height: 5px; background-color: rgb(12, 49, 118); "></div>
            </div>
        </div>

        <form id="form1" method="post" class="needs-validation" novalidate>
            
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <div class="text-center"><label></label></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12"> <label>是否在旌旗小組<span>*</span></label></div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    @Html.RadioButton("rbut_1", true, (Model.b_4_1), new { @id = "rbut_1_1", @class = "form-check-input", required = string.Empty, onclick = "Show4_1(0)" })
                                    @Html.Label("是", new { @class = "form-check-label", @for = "rbut_1_1" })
                                    <div class="ms-3">
                                        @Html.TextBox("txb_GroupNo", "", new { @class = "form-control form-control-lg input-underline", @placeholder = "輸入小組編號，若忘記可之後再填" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    @Html.RadioButton("rbut_1", false, (!Model.b_4_1), new { @id = "rbut_1_2", @class = "form-check-input", required = string.Empty, onclick = "Show4_1(1)" })
                                    @Html.Label("否", new { @class = "form-check-label", @for = "rbut_1_2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2" id="div_Step4_1" style="@(!Model.b_4_1 ? "" : "display:none;")">
                <div class="card-header">
                    <div class="text-center"><label>入組意願調查</label></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12">
                            <label>請問您是否願加入旌旗教會小組？</label>
                        </div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12">
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    @Html.RadioButton("rbut_2", true, (Model.b_4_2), new { @id = "rbut_2_1", @class = "form-check-input", required = string.Empty, onclick = "Show4_2(1)" })
                                    @Html.Label("願意", new { @class = "form-check-label", @for = "rbut_2_1" })
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButton("rbut_2", false, (!Model.b_4_2), new { @id = "rbut_2_2", @class = "form-check-input", required = string.Empty, onclick = "Show4_2(0)" })
                                    @Html.Label("不願意", new { @class = "form-check-label", @for = "rbut_2_2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                </div>
            </div>
            @{
                var htmlAT_cbox = new Dictionary<string, object>();
                var htmlAT_ddl = new Dictionary<string, object>();
                if (Model.JoinGroupType == 2)
                {
                    htmlAT_cbox.Add("disabled", "disabled");
                    htmlAT_cbox.Add("class", "form-check-input");
                    htmlAT_cbox.Add("id", "");

                    htmlAT_ddl.Add("disabled", "disabled");
                    htmlAT_ddl.Add("class", "form-select form-select-lg select-baptism-status");
                }
                else
                {
                    htmlAT_cbox.Add("class", "form-check-input");
                    htmlAT_cbox.Add("id", "");

                    htmlAT_ddl.Add("class", "form-select form-select-lg select-baptism-status");
                }
            }
            <div class="card mt-2 mb-2" id="div_Step4_2" style="@(Model.b_4_2 ? "" : "display:none;")">
                <div class="card-header">
                    <div class="text-center"><label>參加形式偏好</label></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-0"></div>
                        <div class="col-lg-10 col-12">
                            <label>期待小組屬性</label>
                        </div>
                        <div class="col-lg-1 col-0"></div>
                    </div>
                    @{
                        for (int i = 0; i < 2; i++)
                        {
                            var _cJGWs = Model.cJGWs.Where(q => q.JoinType == (i + 1)).OrderBy(q => q.SortNo);
                            var _cJGW = _cJGWs.First();
                            <div class="row">
                                <div class="col-lg-1 col-0"></div>
                                <div class="col-lg-10 col-12">
                                    @{ htmlAT_cbox["id"] = "cbox_JoinGroupWish" + i;}
                                    @Html.CheckBox((htmlAT_cbox["id"].ToString()), _cJGW.SelectFalg, htmlAT_cbox)
                                    @Html.Label(_cJGW.GroupTitle, new { @class = "form-check-label", @for = (htmlAT_cbox["id"].ToString()) })
                                </div>
                                <div class="col-lg-1 col-0"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 col-0"></div>
                                <div class="col-lg-10 col-12">
                                    <div class="div_CardSet1">
                                        <div class="row mb-2">
                                            <div class="col-2 text-center"><span class="d-sm-flex d-none">志願序</span><span class="d-sm-none d-flex">No.</span></div>
                                            <div class="col-5 text-center">星期</div>
                                            <div class="col-5 text-center">時段</div>
                                        </div>
                                        @foreach (var cJGW in _cJGWs)
                                        {
                                            <div class="row mb-2">
                                                <div class="col-2 text-center"><label class="pt-3">@cJGW.SortNo<span>@(cJGW.SortNo == 1 ? "*" : " ")</span></label></div>
                                                <div class="col-5">
                                                    @Html.DropDownList(cJGW.ddl_Weekly.ControlName, cJGW.ddl_Weekly.ddlList, htmlAT_ddl)
                                                </div>
                                                <div class="col-5">
                                                    @Html.DropDownList(cJGW.ddl_Time.ControlName, cJGW.ddl_Time.ddlList, htmlAT_ddl)
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-1 col-0"></div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="row mt-2">
                <div class="col mt-3 mb-5 text-center">
                    <a style="color:white;" class="btn btn-primary btn-lg btn-round btn-submit" href="/Web/AccountAdd/Step3?ACID=@Model.sACID"><img src="/Areas/Web/Content/Img/Back.svg" style="width:25px;" alt="" />上一步</a>

                    <button type="submit" style="color:white;" class="btn btn-primary btn-lg btn-round btn-submit"><img src="/Areas/Web/Content/Img/Next.svg" style="width:25px;" alt="" />下一步</button>

                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function Show4_1(ShowFlag) {
        if (ShowFlag == 1) {
            document.getElementById("div_Step4_1").style.display = "block";
            Show4_2(ShowFlag);
            document.getElementById("rbut_2_1").checked=true;
        }
        else {
            document.getElementById("div_Step4_1").style.display = "none";
            Show4_2(ShowFlag);
        }
    }
    function Show4_2(ShowFlag) {
        if (ShowFlag == 1) {
            
            document.getElementById("div_Step4_2").style.display = "block";
        }
        else {
            document.getElementById("div_Step4_2").style.display = "none";
        }
    }
</script>