@model Banner.Areas.Admin.Controllers.OrganizeSetController.cMLL
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<!--主日聚會點-->
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        @if (Model != null)
        {
            <div class="search-form">
                <div class="search-form-section">
                    <div class="row">
                        <div class="col-6 p-2">
                            <Label>隸屬組織</Label><br />
                            <Label>@Model.ThisTitle</Label>
                        </div>
                        <div class="col-6  p-2">
                            <Label>選擇協會</Label>
                            @Html.DropDownList(Model.ControlName, Model.OIList, new { @class = "form-select form-select-lg", @onchange = "ChangeOI(this);" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end p-2">
                            <a href="/Admin/OrganizeSet/Meeting_Location_Print/@Model.OIID/0" class="btn_Basic btn btn-primary btn-round">匯出</a>
                        </div>
                    </div>
                </div>
            </div>
            if (Model.TreeLv == 4)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <div class="row align-items-center">
                                <div class="col-auto p-0" style="width:221px">
                                    <div class="td_O td_O_Basic2">@Html.Raw(Model.Tree.name)</div>
                                    <div class="td_O td_O_Line2"></div>
                                </div>
                                <div class="col-auto p-0">
                                    @foreach (var T1 in Model.Tree.children)
                                    {
                                        int it = 0, ib = 0;
                                        it = T1 == Model.Tree.children.First() ? 0 : 1;
                                        ib = T1 == Model.Tree.children.Last() ? 0 : 1;
                                        <div class="row align-items-center div_OI p-0">
                                            <div class="col-auto div_OI_Outround h-100 p-0">
                                                <div class="div_OI_Top_@it h-50 w-100"></div>
                                                <div class="div_OI_Button_@ib h-50 w-100"></div>
                                                <div class="td_O td_O_Basic2 div_OI_Info">@Html.Raw(T1.name)</div>
                                            </div>
                                            <div class="col-auto p-0">
                                                @foreach (var T2 in T1.children)
                                                {
                                                    it = T2 == T1.children.First() ? 0 : 1;
                                                    ib = T2 == T1.children.Last() ? 0 : 1;
                                                    <div class="row align-items-center div_OI p-0">
                                                        <div class="col-auto div_OI_Outround h-100 p-0">
                                                            <div class="div_OI_Top_@it h-50 w-100"></div>
                                                            <div class="div_OI_Button_@ib h-50 w-100"></div>
                                                            <div class="td_O td_O_Basic2 div_OI_Info">
                                                                <a href="@T2.url" title="@T2.title">@Html.Raw(T2.name)</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto p-0">
                                                            @foreach (var T3 in T2.children)
                                                            {
                                                                it = T3 == T2.children.First() ? 0 : 1;
                                                                ib = T3 == T2.children.Last() ? 0 : 1;
                                                                <div class="row align-items-center div_OI p-0">
                                                                    <div class="col-auto div_OI_Outround_end h-100 mb-2 p-0">
                                                                        <div class="div_OI_Top_@it h-50 w-100"></div>
                                                                        <div class="div_OI_Button_@ib h-50 w-100"></div>
                                                                        <div class="td_O td_O_Basic2 div_OI_Info_end">
                                                                            <a href="@T3.url" title="@T3.title">@Html.Raw(T3.name)</a>
                                                                        </div>
                                                                        <div style="height:60px;"></div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (Model.TreeLv == 3)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <div class="row align-items-center">
                                <div class="col-auto p-0" style="width:221px">
                                    <div class="td_O td_O_Basic2">@Html.Raw(Model.Tree.name)</div>
                                    <div class="td_O td_O_Line2"></div>
                                </div>
                                <div class="col-auto p-0">
                                    @foreach (var T1 in Model.Tree.children)
                                    {
                                        int it = 0, ib = 0;
                                        it = T1 == Model.Tree.children.First() ? 0 : 1;
                                        ib = T1 == Model.Tree.children.Last() ? 0 : 1;
                                        <div class="row align-items-center div_OI p-0">
                                            <div class="col-auto div_OI_Outround_1 h-100 p-0">
                                                <div class="div_OI_Top_@it h-50 w-100"></div>
                                                <div class="div_OI_Button_@ib h-50 w-100"></div>
                                                <div class="td_O td_O_Basic2 div_OI_Info">
                                                    <a href="@T1.url" title="@T1.title">@Html.Raw(T1.name)</a>
                                                </div>
                                            </div>
                                            <div class="col-auto p-0" style="margin-left:11px;">
                                                @foreach (var T2 in T1.children)
                                                {
                                                    it = T2 == T1.children.First() ? 0 : 1;
                                                    ib = T2 == T1.children.Last() ? 0 : 1;
                                                    <div class="row align-items-center div_OI p-0">
                                                        <div class="col-auto div_OI_Outround_end h-100 mb-2 p-0">
                                                            <div class="div_OI_Top_@it h-50 w-100"></div>
                                                            <div class="div_OI_Button_@ib h-50 w-100"></div>
                                                            <div class="td_O td_O_Basic2 div_OI_Info_end">
                                                                <a href="@T2.url" title="@T2.title">@Html.Raw(T2.name)</a>
                                                            </div>
                                                            <div style="height:60px;"></div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>

<script>
    function ChangeOI(ddl) {
        location.href = '/Admin/OrganizeSet/Meeting_Location_List/' + ddl.value + '/0';
    }

</script>


