@model Banner.Areas.Admin.Controllers.OrganizeSetController.cOrganize_Info_List
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        <form method="post" id="form1">
            @Html.AntiForgeryToken()
            @{
                if (Model != null)
                {
                    @Html.Action("_OrganizeTopList", "Include", new { OID = Model.OID })
                    <div class="search-form">
                        <div class="search-form-section">
                            <div class="row">
                                <div class="col-xxl-8 col">
                                    @Html.Action("_OrganizeFilter", "Include", new { OID = Model.OID, OTitle = Model.OTitle })
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-end">
                                    <a href="javascript:Search();" class="btn btn-primary btn-lg btn-round btn-submit me-2">搜尋</a>
                                    <!--<a href="@(Model.sAddURL)" class="btn btn-primary btn-lg btn-round btn-submit">新增協會</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                    </div>

                }
            }
        </form>
    </div>
</div>
<script>
    function Search() {
        document.getElementById('form1').submit();
    }
</script>


