@model Banner.Models.cTableList
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<!--牧養組織與職分管理-->
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        @if (Model != null)
        {
            <div class="container">
                <div class="row text-lg-end text-center">
                    <div class="col m-3">
                        @if (((bool[])ViewBag._Power)[1])
                        {
                            <a href="/Admin/OrganizeSet/Organize_Map_Edit/@(Model.ItemID)/0" class="btn_Basic btn btn-primary btn-round">新增組織與職分</a>
                        }
                        @if (((bool[])ViewBag._Power)[4])
                        {
                            <a href="/Admin/OrganizeSet/Organize_Map_Print/@(Model.ItemID)/0" class="btn_Basic btn btn-primary btn-submit btn-round">匯出</a>
                        }
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12" style="justify-content:center; display:flex;">
                        <div style="width:350px;">
                            @foreach (var R in Model.Rs)
                            {
                                <div class="row">
                                    <div class="col">
                                        @foreach (var C in R.Cs)
                                        {
                                            <a href="@C.URL"><div class="td_O td_O_Basic1 @C.CSS"><img src="~/Areas/Admin/Content/Img/pan.png" class="div_OI_img" />@C.Title</div></a>
                                            if (!string.IsNullOrEmpty(C.ControlName))
                                            {
                                                <div class="td_O td_O_Line2"></div>
                                                <div class="td_O td_O_Basic1">@C.ControlName</div>
                                            }
                                            else
                                            {
                                                <div class="td_O td_O_2"></div>
                                                <div class="td_O td_O_Basic0"></div>
                                            }
                                        }
                                    </div>
                                </div>
                                if (R != Model.Rs.Last())
                                {
                                    <div class="row">
                                        <div class="col">
                                            <div class="td_O td_O_Line1"></div>
                                            <div class="td_O td_O_2"></div>
                                            <div class="td_O td_O_Basic0"></div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
