@model Banner.Areas.Admin.Controllers.OrganizeSetController.cOrganize_Info_Edit
@{
    ViewBag.Title = "Organize_Info_Edit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {
                if (Model.OI != null)
                {
                    <form method="post" id="form1">
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <div class="row text-center">
                                <div class="col m-3">
                                    @if ((((bool[])ViewBag._Power)[1] && Model.OI.OIID == 0) || (((bool[])ViewBag._Power)[2] && Model.OI.OIID > 0))
                                    {
                                        <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn_Basic btn btn-primary btn-sm  btn-round">儲存</a>
                                    }
                                    <a href="/Admin/OrganizeSet/Organize_Info_List/@Model.OI.Organize.ItemID/@Model.OI.OID/0" class="btn_Basic btn btn-outline-primary btn-sm btn-round">取消</a>
                                </div>
                            </div>

                            <div class="form-card-group">
                                <div class="form-card">
                                    <div class="form-group">
                                        <label>組織名稱<span>*</span></label>
                                        @Html.TextBox("txb_Title", Model.OI.Title, new { @class = "form-control form-control-lg input-underline " })
                                    </div>
                                    @if (Model.OIParent.Count > 0)
                                    {
                                        <div class="form-group">
                                            <label>上層組織<span>*</span></label>
                                            <div class="row">
                                                @foreach (var LS in Model.OIParent.OrderBy(q => q.SortNo))
                                                {
                                                    if (LS == Model.OIParent.OrderByDescending(q => q.SortNo).First())
                                                    {
                                                        <div class="col ps-0" id="@("div_"+LS.SortNo)">
                                                            @Html.DropDownList(LS.ControlName, LS.OIList, new { @class = "form-select form-select-lg", })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col ps-0" id="@("div_"+LS.SortNo)">
                                                            @Html.DropDownList(LS.ControlName, LS.OIList, new { @class = "form-select form-select-lg", disabled = "disabled" })
                                                        </div>
                                                    }

                                                }
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label>職分主管<span>*</span></label>
                                        @Html.DropDownList("ddl_ACID", Model.ACList, new { @class = "form-select form-select-lg" })
                                    </div>

                                    <div class="form-group">
                                        <label>電話</label>
                                        @Html.TextBox("txb_Phone", Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline " })
                                    </div>

                                    <div class="form-group">
                                        <label>地址</label>
                                        <div class="row">
                                            <div class="col-2">
                                                @Html.DropDownList("ddl_Zip1", Model.Z1List,
                                                   new { @class = "form-select form-select-lg", @onchange = "GetZipddl(this);" })
                                            </div>
                                            <div class="col-2">
                                                @Html.DropDownList("ddl_Zip2", Model.Z2List,
                                                   new { @class = "form-select form-select-lg" })
                                            </div>
                                            <div class="col-8">
                                                @Html.TextBox("txb_Address", Model.L.Address, new { @class = "form-control form-control-lg input-underline " })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>啟用狀態</label>
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_ActiveFlag", Model.OI.ActiveFlag, new { @class = "form-check-input" })
                                                    @Html.Label("啟用中", new { @class = "form-check-labell" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.OI.OIID > 0 && ((bool[])ViewBag._Power)[3])
                                    {
                                        <div class="form-group">
                                            <label>刪除</label>
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="form-check form-check-inline">
                                                        @Html.CheckBox("cbox_DeleteFlag", Model.OI.DeleteFlag, new { @class = "form-check-input" })
                                                        @Html.Label("更新後刪除", new { @class = "form-check-label" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col m-3">
                                    @if ((((bool[])ViewBag._Power)[1] && Model.OI.OIID == 0) || (((bool[])ViewBag._Power)[2] && Model.OI.OIID > 0))
                                    {
                                        <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn_Basic btn btn-primary btn-sm btn-round">儲存</a>
                                    }
                                    <a href="/Admin/OrganizeSet/Organize_Info_List/@Model.OI.Organize.ItemID/@Model.OI.OID/0" class="btn_Basic btn btn-outline-primary btn-sm btn-round">取消</a>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>


