@model Banner.Areas.Admin.Controllers.SystemSetController.cBackUser_Edit
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {
                <form method="post" id="form1">
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="row text-center visually-hidden">
                            <div class="col m-3">
                                @if ((((bool[])ViewBag._Power)[1] && Model.ACID == 0) || (((bool[])ViewBag._Power)[2] && Model.ACID > 0))
                                {
                                    <a href="javascript:;" onclick="SubmitConfirm();" class="btn_Basic btn btn-primary btn-sm btn-round">儲存</a>
                                }
                                @if (Model.R4Flag)
                                {
                                    <a href="@Model.BackURL" class="btn_Basic btn btn-outline-primary btn-sm btn-round">取消</a>
                                }
                            </div>
                        </div>

                        <div class="form-card-group">
                            <div class="form-card">
                                <div class="form-group">
                                    <label>帳號<span>*</span></label>
                                    @Html.TextBox("txb_Login", Model.Login, new { @class = "form-control form-control-lg input-underline" })
                                </div>

                                <div class="form-group">
                                    <label>密碼<span>*</span></label>
                                    @Html.TextBox("txb_PW", Model.PW, new { @class = "form-control form-control-lg input-underline", @type = "password" })
                                </div>
                                <div class="form-group">
                                    <label>後台角色</label>
                                    <div class="row">
                                        @foreach (var SL in Model.RList)
                                        {
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_rool_" + SL.Value, SL.Selected, new { @class = "form-check-input",id= "cbox_rool_"+ SL.Value })
                                                    @Html.Label(SL.Text, new { @class = "form-check-label",@for= "cbox_rool_" + SL.Value })
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>旌旗角色</label>
                                    <div class="row">
                                        @foreach (var SL in Model.OIList)
                                        {
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_OI_" + SL.Value, SL.Selected, new { @class = "form-check-input", id = "cbox_OI_" + SL.Value })
                                                    @Html.Label(SL.Text, new { @class = "form-check-label", @for = "cbox_OI_" + SL.Value })
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>啟用狀態</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", true, Model.ActiveFlag, new { @id = "cbox_ActiveFlag1", @class = "form-check-input" })
                                                @Html.Label("啟用", new { @class = "form-check-label", @for = "cbox_ActiveFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", false, !Model.ActiveFlag, new { @id = "cbox_ActiveFlag2", @class = "form-check-input" })
                                                @Html.Label("停用", new { @class = "form-check-label", @for = "cbox_ActiveFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.ACID > 0 && ((bool[])ViewBag._Power)[3] && false)
                                {
                                    <div class="form-group">
                                        <label>刪除</label>
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_DeleteFlag", Model.DeleteFlag, new { @class = "form-check-input" })
                                                    @Html.Label("更新後刪除", new { @class = "form-check-label" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col m-3">
                                @if ((((bool[])ViewBag._Power)[1] && Model.ACID == 0) || (((bool[])ViewBag._Power)[2] && Model.ACID > 0))
                                {
                                    <a href="javascript:;" onclick="SubmitConfirm();" class="btn_Basic btn btn-primary btn-sm btn-round"><i class="fa-solid fa-floppy-disk"></i>儲存</a>
                                }
                                @if (Model.R4Flag)
                                {
                                    <a href="@Model.BackURL" class="btn_Basic btn btn-outline-primary btn-sm btn-round"><i class="fa-solid fa-arrow-rotate-left"></i>返回列表</a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

