@model Banner.Areas.Web.Controllers.GroupPlaceController.cIndex
@{
    ViewBag.Title = "GroupLeaderIndex";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
    if (Model != null)
    {
        <div class="body-container">
            <div class="section-container">
                <nav class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Web/GroupPlace/Index">小組資訊</a></li>
                        <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                        <li class="breadcrumb-item"><a href="/Web/GroupPlace/Index/@ViewBag._OIID ">小組聚會資訊更新</a></li>
                    </ol>
                </nav>
                <div class="header-container">
                    <div class="header-left-border"></div>
                    <h5 class="header">@Html.Raw(ViewBag._GroupTitle) - 小組長專區</h5>
                </div>
                @Html.Action("_GroupTopMenu", "Include")
                <div class="container">
                    <div class="section-card">
                        <form method="post" id="form1">
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label>每周小組聚會</label>
                                @Html.DropDownList("ddl_WeeklyNo", Model.SLIs, new { @class = "form-select form-select-lg" })
                            </div>
                            <div class="form-group">
                                <label>小組聚會時間</label>
                                <div class="row">
                                    <div class="col-auto">
                                        @Html.TextBox("txb_STime", (Model.MS.S_hour.ToString().PadLeft(2, '0') + ":" + Model.MS.S_minute.ToString().PadLeft(2, '0')), new { @class = "form-control form-control-lg input-underlin", type = "time" })
                                    </div>
                                    <div class="col-auto">
                                        至
                                    </div>
                                    <div class="col-auto">
                                        @Html.TextBox("txb_ETime", (Model.MS.E_hour.ToString().PadLeft(2, '0') + ":" + Model.MS.E_minute.ToString().PadLeft(2, '0')), new { @class = "form-control form-control-lg input-underlin", type = "time" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>小組聚會地點</label>
                                @Html.Action("_Location_Meeting", "Include", new { LID = Model.L.LID })
                            </div>
                            <div class="form-group">
                                <label>小組聚會電話</label>
                                @Html.Action("_ContectEdit", "Include", new { C = Model.C })
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="action-bar">
                @if ((((bool[])ViewBag._Power)[1] && Model.MS.MID == 0) || (((bool[])ViewBag._Power)[2] && Model.MS.MID > 0) || true)
                {
                    <div class="btn btn-primary btn-lg btn-round">
                        <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;"><img src="/Areas/Web/Content/Img/save.svg" alt="" />儲存</a>
                    </div>
                }
                <div class="btn btn-outline-primary btn-lg btn-round">
                    <a href="/Web/GroupPlace/Index/@ViewBag._OIID "><img src="/Areas/Admin/Content/Img/cancel.svg" alt="" />取消</a>
                </div>
        </div>
    }
}
