@model Banner.Areas.Web.Controllers.LeaderPlaceController.cGetMove_People
@{
    ViewBag.Title = "Move_People";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<div class="container">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/Home/Index">首頁</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="">會友異動</a></li>
            </ol>
        </nav>


        <div class="container-lg">
            <form method="post" id="form1">
                <div class="row">

                    <div class="col-12 col-lg-auto col-form-label-lg">會友</div>
                    <div class="col-12 col-lg-auto">
                        @Html.TextBox("txb_ACID", Model.ACID, new { @class = "form-control form-control-lg", @placeholder = "請輸入會友ID", type = "hidden", min = "0" })
                        <a id="but_SelectACID" href="javascript:;" class="btn btn-info mt-1" onclick="ShowPopupAC(-1, '搜尋會友', @(Model.MyOIID), 'txb_ACID', 'but_SelectACID');">搜尋會友</a>
                    </div>
                    <div class="col-12 col-lg-auto col-form-label-lg"><i class="fa-solid fa-arrow-right"></i></div>
                    <div class="col-12 col-lg-auto col-form-label-lg">小組</div>
                    <div class="col-12 col-lg-auto">
                        @Html.TextBox("txb_GroupOIID", Model.OIID, new { @class = "form-control form-control-lg", @placeholder = "請輸入小組ID", type = "hidden", min = "0" })
                        <a id="but_SelectOIID" href="javascript:;" class="btn btn-info mt-1" onclick="ShowPopupOI(@Model.OIID,8, '搜尋小組', 'txb_GroupOIID', 'but_SelectOIID');">搜尋小組</a>
                    </div>
                    <div class="col-12 col-lg-auto"><button type="submit" class="btn btn-primary">送出</button></div>
                </div>

            </form>
        </div>
    </div>
</div>

@Html.Action("_SearchAccount", "Include")
@Html.Action("_SearchOrganizeInfo_AC", "Include")