@model Banner.Areas.Admin.Controllers.AccountSetController.cAccount_List
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        <form method="post" id="form1">
            @Html.AntiForgeryToken()
            @if (Model != null)
            {
                <div class="search-form">
                    <div class="search-form-section">
                        <div class="row">
                            <div class="col-xxl-6 col-lg-6 col-12">
                                <div class="col-auto ms-0 me-0">
                                    <label class="form-control-lg ps-0 pe-0">姓名：</label>
                                </div>
                                <div class="col-auto ms-0 me-0">
                                    @Html.TextBox("txb_Name", @Model.Name, new { @class = "form-control form-control-lg input-underline", @placeholder = "姓名關鍵字" })
                                </div>
                            </div>
                            <div class="col-xxl-6 col-lg-6 col-12">
                                @Html.Action("_PhoneNoFilter", "Include", new { PhoneNo = Model.CellPhone, PhoneTitle = "輸入手機號碼", ZID = Model.CellPhoneZipID })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <div class="form-control-lg">
                                    <label>性別：</label>
                                    @Html.RadioButton("rbl_Sex", 0, (Model.Sex == 0), new { @class = "form-check-input" })
                                    @Html.Label("全部")
                                    @Html.RadioButton("rbl_Sex", 1, (Model.Sex == 1), new { @class = "form-check-input" })
                                    @Html.Label("男")
                                    @Html.RadioButton("rbl_Sex", 2, (Model.Sex == 2), new { @class = "form-check-input" })
                                    @Html.Label("女")
                                </div>
                            </div>

                            <div class="col-auto">
                                <label class="form-control-lg ps-0 pe-0">入組狀態：</label>
                            </div>
                            <div class="col-auto">
                                @Html.DropDownList(Model.LS_Group.ControlName, Model.LS_Group.ddlList, new { @class = "form-select form-select-lg" })
                            </div>

                        </div>
                    </div>
                    <div class="search-form-section">
                        <div class="d-flex justify-content-end">
                            <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn btn-primary btn-lg btn-submit btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-container">
                        @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                    </div>
                </div>
            }

        </form>
    </div>
</div>

