@model Banner.Areas.Web.Controllers.MyClassController.cGetOrder_Info
@{
    ViewBag.Title = "Order_Info";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<main>
    <div class="container">
        <div class="row  w-100 mb-3 bt-3">
            <div class="col-lg-6 col-12 pt-3 text-lg-start text-center">
                <a href="/Web/ClassStore/Index" class="lab_DarkBlue me-3">課程選購首頁</a>><a href="#" class="lab_DarkBlue ms-3"><b>課程內容</b></a>
            </div>
            <div class="col-lg-6 col-12 pt-3 text-lg-end text-center">
                @Html.Action("_SotreSetTopCart", "Include")
            </div>
        </div>
        @if (Model != null)
        {
            <div class="card">
                <div class="card-header">
                    <h2>訂單資訊</h2>
                </div>
                <div class="card-body">
                    <p class="mb-2"><b>訂單編號：</b>@Model.OHID</p>
                    <p class="mb-2"><b>訂購日期：</b>@Model.CreDate</p>
                    <p class="mb-2"><b>付款方式：</b>@Model.PayType</p>
                    <p class="mb-2"><b>訂單狀況：</b>@Model.OrderType</p>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>課程資訊</h2>
                </div>
                <div class="card-body">
                    <p class="mb-2"><b>課程名稱：</b>@Model.ProductTitle</p>
                    <p class="mb-2"><b>上課方式：</b>@Model.ProductType</p>
                    <p class="mb-2"><b>課程內容：</b><br />@Model.ProductInfo</p>
                    <p class="mb-2"><b>適用資格：</b><br />@Model.TargetInfo</p>
                    <p class="mb-2"><b>結業資格：</b><br />@Model.GraduationInfo</p>
                    <p class="mb-2"><b>課程金額：</b>@Model.Peice</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>班級上課紀錄</h2>
                </div>
                <div class="card-body">
                    <p class="mb-2"><b>班級名稱：</b>@Model.ClassTitle</p>
                    <p class="mb-2"><b>講師名稱：</b>@Model.TeacherTitle</p>
                    <p class="mb-2"><b>結業狀態：</b>@Model.Graduation</p>
                    <p class="mb-2"><b>上課時間：</b></p>
                    <div class="row mb-2">
                        @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                    </div>
                </div>
            </div>
        }

    </div>
</main>

<div class="action-bar">
    <a href="/Web/MyClass/Order_List" class="btn btn-outline-primary btn-lg btn-round"><img src="/Areas/Web/Content/Img/cancel.svg" alt="" />返回我的課程</a>
</div>

