@model Banner.Areas.Admin.Controllers.StoreSetController.cOrder_List
@{
    ViewBag.Title = "Order_List";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        <form method="post" id="form1">
            @if (Model != null)
            {
                <div class="search-form">
                    <div class="search-form-section">
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <label>所屬協會</label>
                                @Html.DropDownList("ddl_OI2", Model.OISL, new { @class = "form-select form-control-lg" })
                            </div>
                            <div class="col-lg-4 col-12">
                                <label>訂單狀況</label>
                                @Html.DropDownList("ddl_OT", Model.OTSL, new { @class = "form-select form-control-lg" })
                            </div>
                            <div class="col-lg-4 col-12">
                                <label>交易方式</label>
                                @Html.DropDownList("ddl_OP", Model.OPSL, new { @class = "form-select form-control-lg" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-auto form-control-lg">交易日期：</div>
                                    <div class="col-auto">
                                        @Html.TextBox("txb_SDate", Model.SDate, new { @class = "form-control form-control-lg input-underline", type = "date" })
                                    </div>
                                    <div class="col-auto">~</div>
                                    <div class="col-auto">
                                        @Html.TextBox("txb_EDate", Model.EDate, new { @class = "form-control form-control-lg input-underline", type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <label>課程名稱</label>
                                @Html.TextBox("txb_ProductTitle", Model.ProductTitle, new { @class = "form-control form-control-lg input-underline", @placeholder = "課程名稱關鍵字" })
                            </div>
                            <div class="col-lg-3 col-12">
                                <label>會員名稱</label>
                                @Html.TextBox("txb_AccountTitle", Model.AccountTitle, new { @class = "form-control form-control-lg input-underline", @placeholder = "會員名稱關鍵字" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12"></div>
                            <div class="col-lg-6 col-12 text-lg-end text-center">
                                <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn btn-primary btn-lg btn-submit btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                </div>
            }

        </form>
    </div>
</div>

