@model Banner.Areas.Admin.Controllers.StoreSetController.cProduct_Edit
@{
    ViewBag.Title = "Category_Edit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<style>
    .pt-40 {
        padding-top: 40px;
    }
</style>
<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {
                string DateFormat = "yyyy-MM-dd";
                <form method="post" id="form1" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">課程上架管理</div>
                            </div>
                            <div class="form-card">
                                <div class="form-group">
                                    <label>課程所屬旌旗</label><br />
                                    @foreach (var OI2 in Model.OI2SL)
                                    {
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButton("rbl_OI", OI2.Value, OI2.Selected, new { @id = ("rbl_OI_" + OI2.Value), @class = "form-check-input" })
                                            @Html.Label(OI2.Text, new { @class = "form-check-label", @for = ("rbl_OI_" + OI2.Value) })
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label>課程選擇<span>*</span></label>
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.DropDownList("ddl_CCBasic", Model.CCSL, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this);" })
                                        </div>
                                        <div class="col-6">
                                            @Html.DropDownList("ddl_CBasic", Model.CSL, new { @class = "form-select form-control-lg", onchange = "GetCourse(this.value);" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>課程副標題<span>*</span></label>
                                    @Html.TextBox("txb_SubTitle", Model.P.SubTitle, new { @class = "form-control form-control-lg input-underline" })
                                </div>
                                <div class="form-group">
                                    <label>課程類型</label><br />
                                    @for (int i = 0; i < Model.sCourseType.Length; i++)
                                    {
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButton("rbl_ProductType", i, Model.P.ProductType == i, new { @id = ("rbl_CourseType" + i), @class = "form-check-input" })
                                            @Html.Label(Model.sCourseType[i], new { @class = "form-check-label", @for = ("rbl_CourseType" + i) })
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label>課程內容</label>
                                    @Html.TextArea("txb_ProductInfo", Model.P.ProductInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>對象資格說明</label>
                                    @Html.TextArea("txb_TargetInfo", Model.P.TargetInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>結業資格說明</label>
                                    @Html.TextArea("txb_GraduationInfo", Model.P.GraduationInfo, new { @class = "form-control form-control-lg", @style = "hight:100px;" })
                                </div>
                                <div class="form-group">
                                    <label>前台顯示</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ShowFlag", true, Model.P.ShowFlag, new { @id = "cbox_ActiveFlag1", @class = "form-check-input" })
                                                @Html.Label("已顯示", new { @class = "form-check-label", @for = "cbox_ActiveFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ShowFlag", false, !Model.P.ShowFlag, new { @id = "cbox_ActiveFlag2", @class = "form-check-input" })
                                                @Html.Label("已隱藏", new { @class = "form-check-label", @for = "cbox_ActiveFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>啟用狀態</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", true, Model.P.ActiveFlag, new { @id = "cbox_ActiveFlag1", @class = "form-check-input" })
                                                @Html.Label("啟用", new { @class = "form-check-label", @for = "cbox_ActiveFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", false, !Model.P.ActiveFlag, new { @id = "cbox_ActiveFlag2", @class = "form-check-input" })
                                                @Html.Label("停用", new { @class = "form-check-label", @for = "cbox_ActiveFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.P.CID > 0 && ((bool[])ViewBag._Power)[3])
                                {
                                    <div class="form-group">
                                        <label>刪除</label>
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_DeleteFlag", Model.P.DeleteFlag, new { @class = "form-check-input" })
                                                    @Html.Label("更新後刪除", new { @class = "form-check-label" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-body mt-4">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">課程細節設定</div>
                            </div>
                            <div class="form-group">
                                <label>課程年度</label>
                                @Html.DropDownList("ddl_Year", Model.Years.ddlList, new { @class = "form-select form-control-lg" })
                            </div>
                            <div class="form-group">
                                <label>梯次</label>
                                @Html.DropDownList("ddl_EchelonNo", Model.Echelons.ddlList, new { @class = "form-select form-control-lg" })
                            </div>
                            <div class="form-group">
                                <label>圖片</label><br />
                                <input type="file" name="file_upload" />
                                @if (Model.P.ImgURL != "")
                                {
                                    <br /><img style="height:100px;" src="@Model.P.ImgURL" />
                                }
                            </div>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>原價<span>*</span></label>
                                        @Html.TextBox("txb_Price_Basic", Model.P.Price_Basic, new { @class = "form-control form-control-lg input-underline", @type = "number", @min = "0" })
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>早鳥價</label>
                                        @Html.TextBox("txb_Price_Early", Model.P.Price_Early, new { @class = "form-control form-control-lg input-underline", @type = "number", @min = "0" })
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>開課起始日<span>*</span></label>
                                        @Html.TextBox("txb_SDate", (Model.P.SDate != Model.P.CreDate ? Model.P.SDate.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>開課結束日<span>*</span></label>
                                        @Html.TextBox("txb_EDate", (Model.P.EDate != Model.P.CreDate ? Model.P.EDate.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>早鳥起始日</label>
                                        @Html.TextBox("txb_SDate_Early", (Model.P.SDate_Early != Model.P.CreDate ? Model.P.SDate_Early.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>早鳥結束日</label>
                                        @Html.TextBox("txb_EDate_Early", (Model.P.EDate_Early != Model.P.CreDate ? Model.P.EDate_Early.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>臨櫃報名起始日</label>
                                        @Html.TextBox("txb_SDate_Signup_OnSite", (Model.P.SDate_Signup_OnSite != Model.P.CreDate ? Model.P.SDate_Signup_OnSite.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>臨櫃報名結束日</label>
                                        @Html.TextBox("txb_EDate_Signup_OnSite", (Model.P.EDate_Signup_OnSite != Model.P.CreDate ? Model.P.EDate_Signup_OnSite.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label>線上報名起始日</label>
                                        @Html.TextBox("txb_SDate_Signup_OnLine", (Model.P.SDate_Signup_OnLine != Model.P.CreDate ? Model.P.SDate_Signup_OnLine.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label>線上報名結束日</label>
                                        @Html.TextBox("txb_EDate_Signup_OnLine", (Model.P.EDate_Signup_OnLine != Model.P.CreDate ? Model.P.EDate_Signup_OnLine.ToString(DateFormat) : ""), new { @class = "form-control form-control-lg input-underline", @type = "date" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-body mt-4">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">擋修課程與上課對象</div>
                            </div>
                            <div class="form-card">

                                <div class="form-group">
                                    <label>先修課程</label>
                                    @if (Model.PBs.Count(q => q.CRID > 0) > 0)
                                    {
                                        <a class="ms-2 d-none" id="a_add_Course" href="javascript:;" onclick="AddRow1();"><i class="fa-solid fa-circle-plus lab_DarkBlue me-2"></i></a>
                                    }
                                    else
                                    {
                                        <a class="ms-2" id="a_add_Course" href="javascript:;" onclick="AddRow1();"><i class="fa-solid fa-circle-plus lab_DarkBlue me-2"></i></a>
                                    }
                                    <input type="hidden" id="txb_AddCourseCt" name="txb_AddCourseCt" value="0" />
                                    <div id="div_BeforeCourse">
                                        @foreach (var PB in Model.PBs.Where(q => q.PRID > 0 && q.CRID == 0).OrderBy(q => q.PRID))
                                        {
                                            <div id="div_AddCourse_@PB.PRID" class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-4 col-12">
                                                        @Html.DropDownList("ddl_CCDB_" + PB.PRID, PB.CCSL_Before, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this);" })
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        @Html.DropDownList("ddl_CCDB_" + PB.PRID, PB.CCSL_Before, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this);" })
                                                    </div>
                                                    <div class="col-lg-2 col-12 text-lg-end text-start">
                                                        <a href="javascript:;" onclick="RemoveRow('div_AddCourse_@PB.PRID');"><i class="fa-solid fa-trash lab_DarkBlue"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @foreach (var PB in Model.PBs.Where(q => q.CRID > 0).OrderBy(q => q.PRID))
                                        {
                                            <div id="div_AddCourse_@PB.PRID" class="mt-3">
                                                <div class="row">
                                                    <div class="col-lg-4 col-12">
                                                        @Html.Label(PB.CCSL_Before.FirstOrDefault(q => q.Selected).Text, new { @class = "form-select form-control-lg lab_gray" })
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        @Html.Label(PB.CSL_Before.First().Text, new { @class = "form-select form-control-lg lab_gray" })
                                                    </div>
                                                    <div class="col-lg-2 col-12 text-lg-end text-start">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>限制性別</label><br />
                                    @{
                                        int iSex = -1;
                                        var PR2 = Model.PRs.FirstOrDefault(q => q.TargetType == 2);
                                        if (PR2 != null)
                                        {
                                            iSex = PR2.TargetInt1;
                                        }
                                    }
                                    <div class="form-check form-check-inline">
                                        @if (PR2 == null)
                                        {
                                            @Html.RadioButton("rbl_Sex", -1, iSex == -1, new { @id = "cbox_Sex0", @class = "form-check-input" });
                                        }
                                        else if (PR2.PRID == 0 || PR2.CRID > 0)
                                        {
                                            @Html.RadioButton("rbl_Sex", -1, iSex == -1, new { @id = "cbox_Sex0", @class = "form-check-input", @disabled = "true" });
                                        }
                                        else
                                        {
                                            @Html.RadioButton("rbl_Sex", -1, iSex == -1, new { @id = "cbox_Sex0", @class = "form-check-input" });
                                        }
                                        @Html.Label("不限制", new { @class = "form-check-label", @for = "cbox_Sex0" })
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @if (PR2 == null)
                                        {
                                            @Html.RadioButton("rbl_Sex", 1, iSex == 1, new { @id = "cbox_Sex1", @class = "form-check-input" });
                                        }
                                        else if (PR2.PRID == 0 || PR2.CRID > 0)
                                        {
                                            @Html.RadioButton("rbl_Sex", 1, iSex == 1, new { @id = "cbox_Sex1", @class = "form-check-input", @disabled = "true" });
                                        }
                                        else
                                        {
                                            @Html.RadioButton("rbl_Sex", 1, iSex == 1, new { @id = "cbox_Sex1", @class = "form-check-input" });
                                        }
                                        @Html.Label("男", new { @class = "form-check-label", @for = "cbox_Sex1" })
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @if (PR2 == null)
                                        {
                                            @Html.RadioButton("rbl_Sex", 0, iSex == 0, new { @id = "cbox_Sex2", @class = "form-check-input" });
                                        }
                                        else if (PR2.PRID == 0 || PR2.CRID > 0)
                                        {
                                            @Html.RadioButton("rbl_Sex", 0, iSex == 0, new { @id = "cbox_Sex2", @class = "form-check-input", @disabled = "true" });
                                        }
                                        else
                                        {
                                            @Html.RadioButton("rbl_Sex", 0, iSex == 0, new { @id = "cbox_Sex2", @class = "form-check-input" });
                                        }
                                        @Html.Label("女", new { @class = "form-check-label", @for = "cbox_Sex2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>限制年齡</label><br />
                                    @{
                                        int iAge_Min = 0, iAge_Max = 0;
                                        var PR3 = Model.PRs.FirstOrDefault(q => q.TargetType == 3);
                                        if (PR3 != null)
                                        {
                                            iAge_Min = PR3.TargetInt1;
                                            iAge_Max = PR3.TargetInt2;
                                        }
                                    }
                                    <div class="row">
                                        <div class="col-4">
                                            @if (PR3 == null)
                                            {
                                                @Html.TextBox("txb_Age_Min", iAge_Min, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                            }
                                            else if (PR3.PRID == 0 || PR3.CRID > 0)
                                            {
                                                @Html.TextBox("txb_Age_Min", iAge_Min, new { @class = "form-control form-control-lg input-underline lab_gray", @disabled = true })
                                            }
                                            else
                                            {
                                                @Html.TextBox("txb_Age_Min", iAge_Min, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                            }
                                        </div>
                                        <div class="col-auto pt-3">
                                            以上 至
                                        </div>
                                        <div class="col-4">
                                            @if (PR3 == null)
                                            {
                                                @Html.TextBox("txb_Age_Max", iAge_Max, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                            }
                                            else if (PR3.PRID == 0 || PR3.CRID > 0)
                                            {
                                                @Html.TextBox("txb_Age_Max", iAge_Max, new { @class = "form-control form-control-lg input-underline lab_gray", @disabled = true })
                                            }
                                            else
                                            {
                                                @Html.TextBox("txb_Age_Max", iAge_Max, new { @class = "form-control form-control-lg input-underline", @type = "number" })
                                            }
                                        </div>
                                        <div class="col-auto pt-3">
                                            以下
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>牧養職分</label><br />
                                    @foreach (var CR1 in Model.OSL.ddlList)
                                    {
                                        if (Model.OSL.SortNo > 0)
                                        {
                                            <div class="form-check form-check-inline">
                                                @Html.CheckBox("cbox_O_" + CR1.Value, CR1.Selected, new { @id = "cbox_O" + CR1.Value, @class = "form-check-input cbox_Os", @disabled = true })
                                                @Html.Label(CR1.Text, new { @class = "form-check-label", @for = "cbox_O" + CR1.Value })
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check form-check-inline">
                                                @Html.CheckBox("cbox_O_" + CR1.Value, CR1.Selected, new { @id = "cbox_O" + CR1.Value, @class = "form-check-input cbox_Os" })
                                                @Html.Label(CR1.Text, new { @class = "form-check-label", @for = "cbox_O" + CR1.Value })
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            }
        </div>
    </div>
</div>
<div id="div_BeforeCourse_Bata" class="d-none">
    <div id="div_AddCourse_*" class="mt-3">
        <div class="row">
            @if (Model.PBs.Any())
            {
                <div class="col-lg-4 col-12">
                    @Html.DropDownList("ddl_CC_*", Model.PBs[0].CCSL_Before, new { @class = "form-select form-control-lg", onchange = "GetCourseddl(this," + Model.P.CID + ");" })
                </div>
                <div class="col-lg-6 col-12">
                    @Html.DropDownList("ddl_C_*", Model.PBs[0].CSL_Before, new { @class = "form-select form-control-lg", @id = "ddl_C_*" })
                </div>
                <div class="col-lg-2 col-12 text-lg-end text-start">
                    <a href="javascript:;" onclick="RemoveRow('div_AddCourse_*');"><i class="fa-solid fa-trash lab_DarkBlue"></i></a>
                </div>
            }
            else
            {
                <div class="col-12">無先修課程可新增</div>
            }
        </div>
    </div>
</div>
<div id="div_BeforeCourse_Set" class="d-none">
    <div id="div_SetCourse_*" class="mt-3">
        <div class="row">
            <div class="col-lg-4 col-12">
                <input enable="false" name="ddl_CCDB_*" value="#1" class="form-select form-control-lg lab_gray" />
            </div>
            <div class="col-lg-6 col-12">
                <input enable="false" name="ddl_CDB_*" value="#2" class="form-select form-control-lg lab_gray" />
            </div>
            <div class="col-lg-2 col-12 text-lg-end text-start"></div>
        </div>
    </div>
</div>


<div class="action-bar">
    @if (Model != null)
    {
        if ((((bool[])ViewBag._Power)[1] && Model.P.PID == 0) || (((bool[])ViewBag._Power)[2] && Model.P.PID > 0))
        {
            <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;" class="btn btn-primary btn-submit btn-lg btn-round btn-submit">
                <i class="fa-solid fa-floppy-disk"></i>儲存
            </a>
        }
        <a href="/Admin/StoreSet/Product_List/" class="btn btn-outline-primary btn-lg btn-round">
            <i class="fa-solid fa-xmark"></i>取消
        </a>
    }
</div>
<script>
    //新增一行課程
    function AddRow1() {
        var sCt = document.getElementById('txb_AddCourseCt');
        var iCt = parseInt(sCt.value) + 1;
        var str = document.getElementById("div_BeforeCourse_Bata").innerHTML;
        for (i = 0; i < 10; i++) {
            str = str.replace('*', iCt);
        }
        document.getElementById('div_BeforeCourse').innerHTML += str;
        sCt.value = iCt;
    }

    /*取得課程選單*/
    function GetCourseddl(ddl, CID) {
        var sControlTitle = '';
        if (ddl.name.includes('Basic')) {
            sControlTitle = 'ddl_CBasic';
        }
        else if (ddl.name.includes('DB')) {
            var iSort = parseInt(ddl.name.replace('ddl_CCDB_', ''), 10);
            sControlTitle = 'ddl_CDB_' + iSort;
        }
        else {
            var iSort = parseInt(ddl.name.replace('ddl_CC_', ''), 10);
            sControlTitle = 'ddl_C_' + iSort;
        }
        var Nextddl = document.getElementById(sControlTitle);
        Nextddl.innerHTML = '';
        Nextddl.append('<option value="-1" selected>請選擇</option>');
        $.ajax({
            url: '/Admin/Home/GetCourseCagegorySelect?CCID=' + ddl.value + "&CID=" + CID,
            method: 'GET',
            dataType: 'json',
            success: function (res) {
                $.each(res, function (index) {
                    Nextddl.innerHTML += ('<option value="' + res[index].value + '">' + res[index].Text + '</option>');
                    if (index == 0) {
                        GetCourse(res[index].value);
                    }
                });
            },
            error: function (err) { console.log(err) },
        })
    }
    //選擇課程後更新上架資料
    function GetCourse(CID) {
        $.ajax({
            url: '/Admin/Home/GetCourse?CID=' + CID,
            method: 'GET',
            dataType: 'json',
            success: function (res) {
                var Types = document.getElementsByName("rbl_CourseType");
                $.each(Types, function (index) {
                    if (Types[index].value == res.CourseType.toString()) {
                        Types[index].checked = true;
                    }
                })
                document.getElementById("txb_ProductInfo").value = res.CourseInfo;
                document.getElementById("txb_TargetInfo").value = res.TargetInfo;
                document.getElementById("txb_GraduationInfo").value = res.GraduationInfo;
                //擋修
                //初始化
                document.getElementById("div_BeforeCourse").innerHTML = "";
                var a_add_Course = document.getElementById("a_add_Course");
                a_add_Course.classList.remove('d-none');
                //性別
                var Sexs = document.getElementsByName("rbl_Sex");
                $.each(Sexs, function (j) {
                    Sexs[j].disabled = false;
                    if (j == 0) {
                        Sexs[j].checked = true;
                    }
                    else {
                        Sexs[j].checked = false;
                    }
                });
                //年齡
                var Min = document.getElementById("txb_Age_Min");
                var Max = document.getElementById("txb_Age_Max");
                Min.value = 0;
                Max.value = 0;
                Min.disabled = false;
                Max.disabled = false;
                Min.classList.remove("lab_gray");
                Max.classList.remove("lab_gray");
                //職分
                var Os = document.getElementsByClassName("cbox_Os");
                $.each(Os, function (j) {
                    Os[j].disabled = false;
                    Os[j].checked = false;
                });


                var s = document.getElementById("div_BeforeCourse_Set").innerHTML;
                $.each(res.Rools, function (index) {
                    if (res.Rools[index].TargetType == 0) {
                        var str = s;
                        for (i = 0; i < 10; i++) {
                            str = str.replace('*', res.Rools[index].CRID);
                        }
                        str = str.replace('#1', res.Rools[index].CC_Title);
                        str = str.replace('#2', res.Rools[index].C_Title);
                        document.getElementById("div_BeforeCourse").innerHTML += str;
                        a_add_Course.classList.add('d-none');
                    }
                    else if (res.Rools[index].TargetType == 1) {//職分
                        $.each(Os, function (j) {
                            Os[j].disabled = true;
                            if (res.Rools[index].TargetInt1.toString() == Os[j].id.replace('cbox_O', '')) {
                                Os[j].checked = true;
                            }
                        });
                    }
                    else if (res.Rools[index].TargetType == 2) {//性別
                        $.each(Sexs, function (j) {
                            Sexs[j].disabled = true;
                            if (res.Rools[index].TargetInt1.toString() == Sexs[j].value) {
                                Sexs[j].checked = true;
                            }
                            else {
                                Sexs[j].checked = false;
                            }
                        });
                    }
                    else if (res.Rools[index].TargetType == 3) {//年齡

                        Min.value = res.Rools[index].TargetInt1;
                        Max.value = res.Rools[index].TargetInt2;
                        Min.disabled = true;
                        Max.disabled = true;
                        Min.classList.add("lab_gray");
                        Max.classList.add("lab_gray");
                    }
                });
            },
            error: function (err) { console.log(err) },
        })
    }
    function RemoveRow(RowID) {
        document.getElementById(RowID).remove();
    }
    //選擇教師
    function ShowTeacher() {
        Swal.fire({
            html: ''
        });
    }
</script>

