@model Banner.Areas.Admin.Controllers.StoreSetController.cProductClass_BatchAdd
@{
    ViewBag.Title = "Product_Class_BatchAdd";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
</div>
<div class="form-container-list">
    <div class="form-container">
        <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
        <form method="post" id="form1" enctype="multipart/form-data">
            <div class="form-body mt-4">
                <a class="ms-2 btn btn-primary" id="a_add_Class" href="javascript:;" onclick="AddClassRow1();"><i class="fa-solid fa-circle-plus me-2"></i>新增班級</a>
                <input type="hidden" id="txb_AddClassCt" name="txb_AddClassCt" value="@Model.RowCt" />
                <div id="div_ClassPlace">
                    @foreach (var CC in Model.cCs)
                    {
                        @Html.Action("_ProductClass_BatchAddCell", "Include", new { CC = CC })
                    }
                </div>
            </div>

        </form>
    </div>
</div>

<div class="action-bar">
    @if (Model != null)
    {
        //if ((((bool[])ViewBag._Power)[1]))
        {
            <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;" class="btn btn-primary btn-submit btn-lg btn-round btn-submit">
                <i class="fa-solid fa-floppy-disk"></i>產生班級
            </a>
        }
        <a href="/Admin/StoreSet/Product_List" class="btn btn-outline-primary btn-lg btn-round">
            <i class="fa-solid fa-xmark"></i>取消
        </a>
    }
</div>


<div class="d-none" id="div_ClassPlace_Bata">
    @Html.Action("_ProductClass_BatchAddCell", "Include", new { CC = Model.cCBasic })
</div>
@Html.Action("_SearchAccount", "Include")


<script>

    //新增一行
    function AddClassRow1() {
        var sCt = document.getElementById('txb_AddClassCt');
        var iCt = parseInt(sCt.value) + 1;

        var clo = $('#div_ClassPlace_Bata').clone(true);
        var str = clo.html();
        for (i = 0; i < 50; i++) {
            str = str.replace('%', iCt);
        }
        $('#div_ClassPlace').append(str);
        sCt.value = iCt;

        return;
    }
    //複製一行
    function CopyClassRow(RowNo) {
        var sCt = document.getElementById('txb_AddClassCt');
        var iCt = parseInt(sCt.value) + 1;

        var Controls = [
            'txb_ClassTitle_',
            'txb_ClassSDate_',
            'txb_ClassCutDay_',
            'txb_ClassCt_',
            'txb_ClassSTime_',
            'txb_ClassETime_',
            'txb_ClassPhoneNo_',
            'txb_ClassLocationName_',
            'txb_ClassAddress_',
            'txb_ClassPeopleCt_',
            'txb_ClassGraduateAddDay_',
            'txb_TeacherID_'
        ];
        for (i = 0; i < Controls.length; i++) {
            var v0 = document.getElementsByName(Controls[i] + RowNo + '_');
            v0[0].attributes['value'].value = v0[0].value;
        }

        var str = document.getElementById('div_AddClass_' + RowNo + '_').innerHTML;
        for (i = 0; i < 50; i++) {
            str = str.replace('_' + RowNo + '_', '_' + iCt + '_');
            str = str.replace("('" + RowNo + "')", "('" + iCt + "')");
        }
        $('#div_ClassPlace').append('<div class="form-card" id="div_AddClass_' + iCt + '_">' + str + '</div>');

        sCt.value = iCt;

        return;
    }
    //選擇老師
    function SelectTeacher(Text, Value, TextID, ValueID) {
        document.getElementById(TextID).innerText = Text;
        document.getElementById(ValueID).value = Value;
    }
    //刪除一行
    function RemoveRow(RowID) {
        document.getElementById(RowID).remove();
    }

</script>
