@model Banner.Areas.Admin.Controllers.StoreSetController.cProductClass_Edit
@{
    ViewBag.Title = "ProductClass_Edit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {

                <form method="post" id="form1" enctype="multipart/form-data">


                    <div class="form-body mt-4">
                        <div class="form-card-group">
                            <div id="personal-info" class="header-container">
                                <div class="header-left-border"></div>
                                <div class="header">班級設定</div>
                            </div>
                            <div class="form-group">
                                <label>班級名稱<span>*</span></label>
                                @Html.TextBox("txb_Title", Model.PC.Title, new { @class = "form-control form-control-lg input-underline" })
                            </div>
                            <div class="form-group">
                                <label>人數限制<span>(0表示不限制)</span></label>
                                @Html.TextBox("txb_PeopleCt", Model.PC.PeopleCt, new { @class = "form-control form-control-lg input-underline", @type = "number", @min = "0" })
                            </div>
                            <div class="form-group">
                                <label>地點名稱</label>
                                @Html.TextBox("txb_LocationName", Model.PC.LocationName, new { @class = "form-control form-control-lg input-underline" })
                            </div>
                            <div class="form-group">
                                <label>電話</label>
                                @Html.TextBox("txb_PhoneNo", Model.PC.PhoneNo, new { @class = "form-control form-control-lg input-underline" })
                            </div>
                            @{
                                string s_Address = "none";
                                string s_Meet = "none";
                                switch (Model.ProductType)
                                {
                                    default:
                                        s_Address = "block";
                                        s_Meet = "block";
                                        break;
                                    case 1:
                                        s_Address = "block";
                                        break;
                                    case 2:
                                        s_Meet = "block";
                                        break;
                                }
                            }
                            <div class="form-group" style="display:@(s_Address)">
                                <label>班級地址</label>
                                @Html.TextBox("txb_Address", Model.PC.Address, new { @class = "form-control form-control-lg input-underline" })
                            </div>
                            <div class="form-group" style="display:@(s_Meet)">
                                <label>線上網址</label>
                                @Html.TextBox("txb_MeetURL", Model.PC.MeetURL, new { @class = "form-control form-control-lg input-underline" })
                            </div>
                            <div class="form-group">
                                <label>結業日</label>
                                @Html.TextBox("txb_GraduateDate", Model.PC.GraduateDate.ToString("yyyy-MM-dd"), new { @class = "form-control form-control-lg input-underline", Type = "date" })
                            </div>
                        </div>
                    </div>

                </form>
            }
        </div>
    </div>
</div>
<div class="action-bar">
    @if (Model != null)
    {
        if ((((bool[])ViewBag._Power)[1] && Model.PC.PCID == 0) || (((bool[])ViewBag._Power)[2] && Model.PC.PCID > 0))
        {
            <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;" class="btn btn-primary btn-submit btn-lg btn-round btn-submit">
                <i class="fa-solid fa-floppy-disk"></i>儲存
            </a>
        }
        <a href="/Admin/StoreSet/ProductClass_List?PID=@Model.PC.PID" class="btn btn-outline-primary btn-lg btn-round">
            <i class="fa-solid fa-xmark"></i>取消
        </a>
    }
</div>
<script>
    function ShowLoop(i) {
        var d0 = document.getElementById('div_Loop_0');
        var d11 = document.getElementById('div_Loop_1_1');
        var d12 = document.getElementById('div_Loop_1_2');
        if (i == 0) {
            d0.style.display = 'block';
            d11.style.display = 'none';
            d12.style.display = 'none';
        }
        else if (i == 1) {
            d0.style.display = 'none';
            d11.style.display = 'block';
            d12.style.display = 'block';
        }
    }
</script>