<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag._Title</title>
    @Html.Action("_HeadInclude", "Include")

    <link rel="stylesheet" href="@ViewBag._CSS1" />
</head>
<body class="bn-theme">
    @Html.Action("_LeftMenu", "Include")

    <main>
        <div class="admin-navbar">
            <a class="btn btn-primary" href="/Web/Home/Index">進入前台</a>
            <img class="admin-navbar-avatar"
                 src="~/Areas/Admin/Content/img/admin-navbar-avatar.svg"
                 alt="" />
            <a href="javascript:ShowUserMenu();" class="ms-3 me-3" onmousemove="ShowUserMenu()">@ViewBag._UserName</a>
            <div class="div_BackUserMenu" id="BackUserMenu" onmousemove="ShowUserMenu()" onmouseout="CloseUserMenu()" style="display:none;">
                <div class="div_UserMenuBtn mb-2"><a href="/Admin/Home/ChangePassword">修改密碼</a></div>
                <div class="div_UserMenuBtn"><a href="javascript:LogoutCheck();">登出</a></div>
            </div>
        </div>
        
        @Html.Action("_SiteMap", "Include")
        @RenderBody()
    </main>
    @Html.Action("_AlertMsg", "Include")
    <script src="~/Areas/Admin/Content/JS/WebJavaScript.js"></script>
</body>
</html>