@model Banner.Models.cTableList
@{
    int i = 0;
    if (Model != null)
    {
        <div class="card p-2">
            <table class="table_RWDStyle">
                <tbody>
                    @foreach (var R in Model.Rs)
                    {
                        <tr class="@R.CSS">
                            @foreach (var C in R.Cs)
                            {
                                if (R.CSS == "Bgn")
                                {
                                    if (C.WidthPX > 0)
                                    {
                                        <td style="width:@(C.WidthPX+"px")">@C.Title</td>
                                    }
                                    else
                                    {
                                        <td>@C.Value</td>
                                    }
                                }
                                else
                                {
                                    switch (C.Type)
                                    {
                                        default://string
                                            {

                                                <td style="word-break: break-all;">
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>@C.Value
                                                </td>
                                            }
                                            break;

                                        case "link"://link
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <a href="@C.URL" target="@C.Target">@C.Value</a>
                                                </td>
                                            }
                                            break;

                                        case "Media"://Media
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <a href="@C.URL" target="@C.Target">
                                                        <i class="fa-solid fa-play"></i>
                                                    </a>
                                                </td>
                                            }
                                            break;

                                        case "img"://img
                                            <td>
                                                <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                <img src="@C.ImgURL" alt="@C.Value" class="@C.CSS" />
                                            </td>
                                            break;

                                        case "linkimg"://linkimg
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <a href="@C.URL" target="@C.Target">
                                                        <img src="@C.ImgURL" alt="@C.Value" class="@C.CSS" />
                                                    </a>
                                                </td>
                                            }
                                            break;

                                        case "area-string"://textarea
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle lab_AreaTitleCell">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <textarea name="@(C.ControlName+R.ID)" disabled="@C.Disabled" class="form-control">@C.Value</textarea>
                                                </td>
                                            }
                                            break;

                                        case "input-string"://input-string
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <input name="@(C.ControlName+R.ID)" type="text" disabled="@C.Disabled" class="form-control" value="@C.Value">
                                                </td>
                                            }
                                            break;



                                        case "input-number"://input-number
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <input name="@(C.ControlName+R.ID)" type="number" disabled="@C.Disabled" class="form-control" value="@C.Value">
                                                </td>
                                            }
                                            break;

                                        case "checkbox"://checkbox
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <input id="@(C.ControlName+R.ID)" class="form-check-input" type="checkbox" disabled="@C.Disabled" name="@(C.ControlName+R.ID)" @(C.Value == "True" ? "checked" : "") aria-label="@(C.Title)">
                                                </td>
                                            }
                                            break;

                                        case "edit"://edit
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <a href="@C.URL" target="@C.Target"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </td>
                                            }
                                            break;

                                        case "delete"://delete
                                            {
                                                <td>
                                                    <span class="lab_MobelTitle">@(Model.Rs[0].Cs[C.SortNo].Title)</span>
                                                    <a href="@C.URL"><i class="fa-solid fa-trash"></i></a>
                                                </td>
                                            }
                                            break;

                                    }
                                }
                            }

                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.NumCut > 0)
            {
                <div class="row">
                    <div class="col-lg-2 col-12"></div>
                    <div class="col-lg-8 col-12 text-center pt-2 pb-2">
                        @{
                            int iMin = (Model.NewPage / Model.NumCut - (Model.NewPage % Model.NumCut == 0 ? 1 : 0)) * Model.NumCut + 1;
                            if (iMin <= 0) { iMin = 1; }
                            string sDomanPath = Model.NowURL.Contains("?") ? Model.NowURL + "&" : Model.NowURL + "?";
                            if (Model.NewPage > 1)
                            {
                                <a class="page_link" href="@(sDomanPath + "PageNo=1")">最前頁</a>
                                <a class="page_link" href="@(sDomanPath + "PageNo=" + (Model.NumCut-1))">上頁</a>
                            }
                            <span>@("第"+ Model.NewPage+"/"+Model.MaxNum + "頁,共"+Model.TotalCt+"筆")</span>
                            if (Model.NewPage < Model.MaxNum)
                            {
                                <a class="page_link" href="@(sDomanPath + "PageNo=" + (Model.NumCut+1))">下頁</a>
                                <a class="page_link" href="@(sDomanPath + "PageNo=" + Model.MaxNum)">最末頁</a>
                            }

                        }
                    </div>
                    <div class="col-lg-2 col-12">
                        每頁筆數
                        <select>
                            @for (int j = 0; j < 6; j++)
                            {
                                int jCt = 5 * (j + 1);
                                <option value="@jCt" @(Model.NumCut == jCt ? "selected" : "")>@jCt</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    }
}


