@model Banner.Areas.Admin.Controllers.MessageSendController.cGetMessage_List
@{
    ViewBag.Title = "Message_List";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        <form method="post" id="form1">
            @if (Model != null)
            {
                <div class="search-form">
                    <div class="search-form-section">
                        <div class="row">
                            <div class="col-lg-auto col-12">
                                <label>訊息主題</label>
                                @Html.TextBox("txb_Key", @Model.sKey, new { @class = "form-control form-control-lg input-underline", @placeholder = "推撥訊息主題關鍵字" })
                            </div>
                            <div class="col-lg-auto col-12">
                                <label>預計發送日期</label>
                                <div class="row">
                                    <div class="col-auto">
                                        @Html.TextBox("txb_SDate", Model.sSDate, new { @class = "form-control form-control-lg", @placeholder = "yyyy-MM-dd" })
                                    </div>
                                    <div class="col-auto">～</div>
                                    <div class="col-auto">
                                        @Html.TextBox("txb_EDate", Model.sEDate, new { @class = "form-control form-control-lg", @placeholder = "yyyy-MM-dd" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-auto col-12">
                                <div class="form-control-lg">
                                    <label>發送狀態：</label>
                                    @Html.RadioButton("rbl_SendType", -1, (Model.iSendType == -1), new { @class = "form-check-input" })
                                    @Html.Label("全部")
                                    @Html.RadioButton("rbl_SendType", 1, (Model.iSendType == 1), new { @class = "form-check-input" })
                                    @Html.Label("已發送")
                                    @Html.RadioButton("rbl_SendType", 0, (Model.iSendType == 0), new { @class = "form-check-input" })
                                    @Html.Label("等待發送")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-lg-end text-center">
                                <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn btn-primary btn-lg btn-submit btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                                @if (((bool[])ViewBag._Power)[1])
                                {
                                    <a class="btn btn-primary btn-lg btn-round ms-2" href="/Admin/MessageSend/Message_Edit/0">
                                        <i class="fa-solid fa-circle-plus"></i>新增
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container">


                    @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                </div>
            }

        </form>
    </div>
</div>

