@model Banner.Areas.Admin.Controllers.MessageSendController.cGetMessage_Edit
@{
    ViewBag.Title = "Message_Edit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<style>
    .Width_120 {
        width: 120px;
    }
</style>
<div class="main-container">
    <div class="form-container-list">
        <div class="form-container">
            <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
            @if (Model != null)
            {
                <form method="post" id="form1" enctype="multipart/form-data">

                    <div class="form-body">
                        <div class="form-card-group">
                            <div class="form-card">

                                <div class="form-group">
                                    <label>預計發送時間</label>
                                    @Html.TextBox("txb_PlanSendDateTime", Model.sSendDateTime, new { @class = "form-control", @type = "datetime-local" })
                                </div>
                                <div class="form-group">
                                    <label>推播類別</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("rbl_Type", 0, Model.MHType == 0, new { @id = "rbl_Type1", @class = "form-check-input" })
                                                @Html.Label("個人", new { @class = "form-check-label", @for = "rbl_Type1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("rbl_Type", 1, Model.MHType == 1, new { @id = "rbl_Type2", @class = "form-check-input" })
                                                @Html.Label("廣告", new { @class = "form-check-label", @for = "rbl_Type2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>推播主題<span>*</span></label>
                                    @Html.TextBox("txb_Title", Model.Title, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>推播內容</label>
                                    @Html.TextArea("txb_Description", Model.Description, new { @class = "form-control ", @style = "height:200px;" })
                                </div>
                                <div class="form-group">
                                    <label>轉換網址</label>
                                    @Html.TextBox("txb_URL", Model.URL, new { @class = "form-control", @type = "url" })
                                </div>
                                <div class="form-group">
                                    <label>發送對象設定</label>
                                    <div class="row mb-2 div_Row_Bottom_Line">
                                        <div class="col-2">
                                            @Html.DropDownList(Model.LS_TargetType.ControlName, Model.LS_TargetType.ddlList, new { @class = "form-select", onchange = "ShowDiv(this.value);" })
                                            

                                        </div>
                                        <div class="col-10 @(Model.iTargetType!=0 ? "d-none":"")" id="div_0"></div>
                                        <div class="col-10 @(Model.iTargetType!=1 ? "d-none":"")" id="div_1">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <label>組織名稱</label>
                                                    @Html.TextBox("txb_OI_Title", Model.sOITitle, new { @class = "form-control", @placeholder = "組織名稱" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>組織級別</label>
                                                    @Html.DropDownList(Model.SL_O.ControlName, Model.SL_O.ddlList, new { @class = "form-select" })
                                                </div>
                                                <div class="col-auto pt-4">(或</div>
                                                <div class="col-auto">
                                                    <label>直接指定組織ID</label>
                                                    @Html.TextBox("txb_OIID_1", Model.sOIID_1, new { @class = "form-control Width_120", @tyle = "number", @placeholder = "指定組織ID" })
                                                </div>
                                                <div class="col-auto pt-4">)</div>
                                                <div class="col-auto">
                                                    <label>組織職分</label>
                                                    @Html.DropDownList(Model.SL_O_Target.ControlName, Model.SL_O_Target.ddlList, new { @class = "form-select" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-10 @(Model.iTargetType!=2 ? "d-none":"")" id="div_2">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <label>所屬旌旗</label>
                                                    @Html.DropDownList("ddl_OI_Staff", Model.ddl_OI_Staff, new { @class = "form-select" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>事工團類別</label>
                                                    @Html.DropDownList("ddl_Category_Staff", Model.ddl_Category_Staff, new { @class = "form-select", @onchange = "SelectStaff(this.value,'ddl_Staff');" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>事工團</label>
                                                    @Html.DropDownList("ddl_Staff", Model.ddl_Staff, new { @class = "form-select" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>對象</label>
                                                    @Html.DropDownList("ddl_Staff_Target", Model.ddl_Staff_Target, new { @class = "form-select" })
                                                </div>
                                            </div>
                                        </div>
             
                                        <div class="col-10 @(Model.iTargetType!=3 ? "d-none":"")" id="div_3">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <label>活動類型</label>
                                                    @Html.DropDownList(Model.SL_Event_Type.ControlName, Model.SL_Event_Type.ddlList, new { @class = "form-select" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>活動標題</label>
                                                    @Html.TextBox("txb_EventTitle", Model.EventTitle, new { @class = "form-control", @placeholder = "活動標題" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>活動日期</label>
                                                    @Html.TextBox("txb_EventDate", Model.EventDate, new { @class = "form-control", @type = "date" })
                                                </div>
                                                <div class="col-auto pt-4">(或</div>
                                                <div class="col-auto">
                                                    <label>直接指定活動ID</label>
                                                    @Html.TextBox("txb_EventID_1", Model.sEventID_1, new { @class = "form-control Width_120", @tyle = "number", @placeholder = "指定活動ID" })
                                                </div>
                                                <div class="col-auto pt-4">)</div>
                                            </div>
                                        </div>
     
                                        <div class="col-10 @(Model.iTargetType!=4 ? "d-none":"")" id="div_4">

                                            <div class="row">
                                                <div class="col-auto">
                                                    <label>所屬旌旗</label>
                                                    @Html.DropDownList(Model.SL_Meet_OI.ControlName, Model.SL_Meet_OI.ddlList, new { @class = "form-select", @onchange = "SelectMeet(this.value,'" + Model.SL_Meet_0.ControlName + "');" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>主日聚會點</label>
                                                    @Html.DropDownList(Model.SL_Meet_0.ControlName, Model.SL_Meet_0.ddlList, new { @class = "form-select" })
                                                </div>

                                            </div>
                                        </div>
         
                                        <div class="col-10 @(Model.iTargetType!=5 ? "d-none":"")" id="div_5">
                                            <div class="row">
                                                <div class="col-auto">
                                                    <label>開課旌旗</label>
                                                    @Html.DropDownList(Model.SL_Class_OI.ControlName, Model.SL_Class_OI.ddlList, new { @class = "form-select", @onchange = "SelectClassOI(this.value,'" + Model.SL_Class_P.ControlName + "');" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>課程</label>
                                                    @Html.DropDownList(Model.SL_Class_P.ControlName, Model.SL_Class_P.ddlList, new { @class = "form-select", @onchange = "SelectPrduct(this.value,'" + Model.SL_Class_Class.ControlName + "');" })
                                                </div>
                                                <div class="col-auto">
                                                    <label>班級</label>
                                                    @Html.DropDownList(Model.SL_Class_Class.ControlName, Model.SL_Class_Class.ddlList, new { @class = "form-select" })
                                                </div>
                                                <div class="col-auto pt-4">(或</div>
                                                <div class="col-auto">
                                                    <label>直接指定班級ID</label>
                                                    @Html.TextBox("txb_Class_1", Model.sClassID_1, new { @class = "form-control Width_120", @tyle = "number", @placeholder = "指定班級ID" })
                                                </div>
                                                <div class="col-auto pt-4">)</div>
                                                <div class="col-auto">
                                                    <label>學員選擇</label>
                                                    @Html.DropDownList(Model.SL_Class_Graduatio_Type.ControlName, Model.SL_Class_Graduatio_Type.ddlList, new { @class = "form-select" })
                                                </div>
                                            </div>

                                        </div>
    
                                        <div class="col-10 @(Model.iTargetType!=6 ? "d-none":"")" id="div_6">
                                            <label>檔案上傳</label>
                                            @Html.TextBox("fu", null, new { @class = "form-control", type = "file", accept = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>啟用狀態</label>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", true, Model.ActiveFlag, new { @id = "cbox_ActiveFlag1", @class = "form-check-input" })
                                                @Html.Label("啟用", new { @class = "form-check-label", @for = "cbox_ActiveFlag1" })
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButton("cbox_ActiveFlag", false, !Model.ActiveFlag, new { @id = "cbox_ActiveFlag2", @class = "form-check-input" })
                                                @Html.Label("停用", new { @class = "form-check-label", @for = "cbox_ActiveFlag2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.MHID > 0 && ((bool[])ViewBag._Power)[3])
                                {
                                    <div class="form-group">
                                        <label>刪除</label>
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBox("cbox_DeleteFlag", Model.DeleteFlag, new { @class = "form-check-input" })
                                                    @Html.Label("更新後刪除", new { @class = "form-check-label" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="action-bar">
    @if (Model != null)
    {
        if ((((bool[])ViewBag._Power)[1] && Model.MHID == 0) || (((bool[])ViewBag._Power)[2] && Model.MHID > 0) && Model.AllowEddit)
        {
            <a href="javascript:;" onclick="SubmitConfirm();" style="color:white;" class="btn btn-primary btn-submit btn-lg btn-round btn-submit">
                <i class="fa-solid fa-floppy-disk"></i>儲存
            </a>
        }
        <a href="/Admin/MessageSend/Message_List" class="btn btn-outline-primary btn-lg btn-round">
            <i class="fa-solid fa-xmark"></i>取消
        </a>
    }
</div>

<script>
    //依類別搜尋事工團
    function SelectStaff(CID, TargetID) {
        var S = document.getElementById(TargetID);
        S.innerHTML = "";
        $.ajax({
            url: '/Admin/StaffSet/GetStaffList?CID=' + CID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.length == 0) { S.innerHTML = "<option value='0'>此類別內沒有事工團</option>"; }
                else {
                    for (i = 0; i < r.length; i++) {
                        if (i == 0) { S.innerHTML += "<option value='" + r[i].SID + "' selected='selected'>" + r[i].Title + "</option>"; }
                        else { S.innerHTML += "<option value='" + r[i].SID + "'>" + r[i].Title + "</option>"; }
                    }
                }
            },
            error: function (err) { console.log(err) },
        })
    }

    //依據旌旗搜尋主日聚會點
    function SelectMeet(OIID, TargetID) {
        var S = document.getElementById(TargetID);
        S.innerHTML = "";
        $.ajax({
            url: '/Admin/OrganizeSet/GetMeetList?OIID=' + OIID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.length == 0) { S.innerHTML = "<option value='0'>此旌旗下沒有主日聚會點</option>"; }
                else {
                    for (i = 0; i < r.length; i++) {
                        if (i == 0) { S.innerHTML += "<option value='" + r[i].MLID + "' selected='selected'>" + r[i].Title + "</option>"; }
                        else { S.innerHTML += "<option value='" + r[i].MLID + "'>" + r[i].Title + "</option>"; }
                    }
                }
            },
            error: function (err) { console.log(err) },
        })
    }

    //依據旌旗搜尋商品
    function SelectClassOI(OIID, TargetID) {
        var S = document.getElementById(TargetID);
        S.innerHTML = "";
        $.ajax({
            url: '/Admin/StoreSet/GetProductList?OIID=' + OIID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.length == 0) {
                    S.innerHTML = "<option value='0'>查無上架課程</option>";
                    SelectPrduct(0, '@(Model.SL_Class_Class.ControlName)');
                }
                else {
                    for (i = 0; i < r.length; i++) {
                        if (i == 0) {
                            S.innerHTML += "<option value='" + r[i].PID + "' selected='selected'>" + r[i].Title + "</option>";
                            SelectPrduct(r[i].PID, '@(Model.SL_Class_Class.ControlName)');
                        }
                        else { S.innerHTML += "<option value='" + r[i].PID + "'>" + r[i].Title + "</option>"; }
                    }


                }
            },
            error: function (err) { console.log(err) },
        })
    }

    //依據商品ID搜尋班級
    function SelectPrduct(PID, TargetID) {
        var S = document.getElementById(TargetID);
        S.innerHTML = "";
        $.ajax({
            url: '/Admin/StoreSet/GetProductClassList?PID=' + PID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                var r = JSON.parse(res);
                if (r.length == 0) { S.innerHTML = "<option value='0'>查無班級</option>"; }
                else {
                    for (i = 0; i < r.length; i++) {
                        if (i == 0) { S.innerHTML += "<option value='" + r[i].PCID + "' selected='selected'>" + r[i].Title + "</option>"; }
                        else { S.innerHTML += "<option value='" + r[i].PCID + "'>" + r[i].Title + "</option>"; }
                    }
                }
            },
            error: function (err) { console.log(err) },
        })
    }

    function ShowDiv(TargetID) {
        document.getElementById("div_0").className = (TargetID == "0" ? "col-10" : "col-10 d-none");
        document.getElementById("div_1").className = (TargetID == "1" ? "col-10" : "col-10 d-none");
        document.getElementById("div_2").className = (TargetID == "2" ? "col-10" : "col-10 d-none");
        document.getElementById("div_3").className = (TargetID == "3" ? "col-10" : "col-10 d-none");
        document.getElementById("div_4").className = (TargetID == "4" ? "col-10" : "col-10 d-none");
        document.getElementById("div_5").className = (TargetID == "5" ? "col-10" : "col-10 d-none");
        document.getElementById("div_6").className = (TargetID == "6" ? "col-10" : "col-10 d-none");
    }
</script>