@model Banner.Models.c_ContectEdit
<div class="row">
    @if (Model != null)
    {
        if (Model.C.ContectType == 2)
        {
            <div class="col-12">
                @if (Model.required)
                {
                    @Html.TextBox(Model.ControlName2, Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline", @placeholder = Model.InputNote, @type = "email", onchange = "checkemail(this);", required = string.Empty })
                }
                else
                {
                    @Html.TextBox(Model.ControlName2, Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline", @placeholder = Model.InputNote, @type = "email", onchange = "checkemail(this);" })
                }
            </div>
        }
        else
        {
            <div class="col-lg-6 col-12">
                @Html.DropDownList(Model.ControlName1, Model.SLIs, new { @class = "form-select form-select-lg ms-0 me-0" })
            </div>
            <div class="col-lg-6 col-12">
                @if (Model.required)
                {
                    @Html.TextBox(Model.ControlName2, Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline", @placeholder = Model.InputNote, @type = "tel", required = string.Empty })
                }
                else
                {
                    @Html.TextBox(Model.ControlName2, Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline", @placeholder = Model.InputNote, @type = "tel" })
                }
            </div>
        }
    }
</div>
