<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>全球旌旗資訊網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @Html.Action("_HeadInclude", "Include")
</head>
<body class="bn-theme">
    <nav class="header-nav">
        <div class="header-item">
            <img class="logo"
                 src="/Areas/Web/Content/img/header-logo.svg"
                 alt="" />
            @Html.Action("_TopMenu", "Include")
        </div>
        <div class="header-item">
            <a href="https://admin-banner.viuto-aiot.com/Admin/Home/Login" class="btn btn-outline-primary btn-round btn-lg" target="_blank">進入後台</a>
            <div class="profile">
                <div class="profile-body">
                    <span class="account"> @ViewBag._Login </span>
                    <span class="nickname"> @ViewBag._UserName </span>
                </div>
                <div class="profile-action">
                    <a href="javascript:ShowUserMenu();" class="material-icons" onmousemove="ShowUserMenu()"> arrow_drop_down </a>
                    <div class="div_UserMenu" id="UserMenu" onmousemove="ShowUserMenu()" onmouseout="CloseUserMenu()" style="display:none;">
                        <div class="div_UserMenuBtn mb-2"><a href="/Web/Home/ChangePassword">修改密碼</a></div>
                        <div class="div_UserMenuBtn"><a href="javascript:LogoutCheck();">登出</a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="body" style="position: relative;">
        <img class="main-bg"
             src="/Areas/Web/Content/img/body-bg.svg"
             alt="" />
        <nav class="body-nav" style="overflow-y:auto;">
            @Html.Action("_LeftMenu", "Include")
        </nav>
        @RenderBody()
    </main>
    <!--置底-->
    <nav class="footer-nav">
        <div class="footer-item">
            <img class="footer-logo"
                 src="/Areas/Web/Content/img/footer-logo.svg"
                 alt="" />
            <div class="contact-info-group">
                <span>總體異象 新婦教會 ˙ 活出命定 世代傳承 ˙ 普世宣教</span>
                <div class="contact-info">
                    <span>地址：408 台中市南屯區文心南五路三段160號</span>
                    <div class="contact-info-separate">&nbsp;</div>
                    <span>電話：04 - 2258 - 4446</span>
                    <div class="contact-info-separate">&nbsp;</div>
                    <span>傳真：04 - 2258 -4660</span>
                </div>
            </div>
        </div>
        <div class="footer-item">
            <div class="social-media">
                <img src="/Areas/Web/Content/img/mail.svg" alt="" />
                <img src="/Areas/Web/Content/img/facebook.svg" alt="" />
                <img src="/Areas/Web/Content/img/instagram.svg" alt="" />
                <img src="/Areas/Web/Content/img/youtube.svg" alt="" />
                <img src="/Areas/Web/Content/img/cloud.svg" alt="" />
                <img src="/Areas/Web/Content/img/line.svg" alt="" />
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    @Html.Action("_AlertMsg", "Include")
    <script src="/Areas/Web/Content/js/WebJavascript.js"></script>

</body>
</html>
