<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <title>全球旌旗資訊網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="有別於嚴肅的教會，旌旗教會是一個活潑、充滿歡樂的大家庭，我們是一群追求生命成長的伙伴，因為耶穌基督的愛與恩典，我們學習彼此相愛，相互鼓勵，同時也一起經歷上帝的引導、能力與祝福。
在這裡，我們不分黨派、不分階級、不分貧富……，我們專注於生命品格的改變與成長、家庭價值的重視與實賤、人生意義的追尋與成全。因為我們知道上帝是如此地貼近人心，而非高高在上，祂期待你我更加認識祂，我們的問題靠祂解決，祂等候與你我建立一種真實而深厚的關係，在這樣的關係中，我們蒙受無盡的祝福！
歡迎您的加入，我們希望可以陪伴您，與您一同走人生路程，也讓上帝的愛，透過你我更多地傳遞出去。">
    <meta name="keywords" content="旌旗，教會，首頁，台中，旌旗教會，修哥，台中旌旗，banner church，">
    @Html.Action("_HeadInclude", "Include")
</head>
<body class="bn-theme">
    <nav class="header-nav">
        <div class="header-item">
            <a href="/Web/Home/Index">
                <img class="logo"
                     src="/Areas/Web/Content/img/header-logo.svg"
                     alt="" />
            </a>
            @Html.Action("_TopMenu_New1", "Include")
        </div>
        <div class="header-item d-none d-lg-flex">
            @if (TempData["BackFlag"].ToString() == "1")
            {
                <div class="me-2">
                    <a href="https://admin-banner.viuto-aiot.com/Admin/Home/Login" class="btn btn-outline-primary d-block" style="background-color: white; color: #3764ac" target="_blank">進入後台</a>
                </div>
            }
            @if (TempData["NewMessageCt"].ToString() == "0")
            {
                <div class="me-2">
                    <a href="/Web/AccountPlace/Message_List" class="btn btn-outline-primary d-block" style="background-color: white; color: #3764ac" target="_blank"><i class="fa-solid fa-bell"></i></a>
                </div>
            }
            else
            {
                <div class="me-2">
                    <a href="/Web/AccountPlace/Message_List" class="btn btn-outline-primary d-block" style="background-color: white; color: #ff0000" target="_blank"><i class="fa-solid fa-bell"></i> @(TempData["NewMessageCt"].ToString())</a>
                </div>
            }

            <div class="me-2">
                <a href="/Web/ClassStore/Order_Step1" style="color:white;">
                    購物車<i class="fa-solid fa-cart-shopping ms-1"></i>
                    @if (TempData["CartNo"].ToString() != "0")
                    {
                        <span class="spanCordNo">@(TempData["CartNo"].ToString())</span>
                    }
                </a>
            </div>
            <div class="profile">
                <div class="profile-body">
                    <span class="nickname"> @ViewBag._UserName</span>
                </div>
                <div class="profile-action">
                    <a href="javascript:ShowUserMenu();" class="material-icons" onmousemove="ShowUserMenu()"> arrow_drop_down </a>
                    <div class="div_UserMenu" id="UserMenu" onmousemove="ShowUserMenu()" onmouseout="CloseUserMenu()" style="display:none;">
                        <div class="div_UserMenuBtn"><a href="/Web/ChildrenAdd/Step1">為12歲以下兒童註冊</a></div>
                        <div class="div_UserMenuBtn mb-2"><a href="/Web/Home/ChangePassword">修改密碼</a></div>
                        <div class="div_UserMenuBtn"><a href="javascript:LogoutCheck();">登出</a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="body" style="position: relative;">
        <img class="main-bg" src="/Areas/Web/Content/img/body-bg.svg" alt="" />

        @Html.Action("_LeftMenu_New1", "Include")

        @RenderBody()
    </main>
    <!--置底-->
    <nav class="footer-nav text-center">
        <div class="contact-info-group">
            <span>新婦教會、活出命定、世代傳承、普世宣教</span>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    @Html.Action("_AlertMsg", "Include")
    <script src="/Areas/Web/Content/js/WebJavascript.js"></script>


    <!-- 顯示申請小組 -->
    <div class="modal fade" id="popup_ChangeGroup" tabindex="-1" aria-labelledby="popup_ChangeGroup_Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="popup_ChangeGroup_Label">更換小組</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    欲申請的小組編號：
                    <input id="txb_GroupID" class="form-control" type="number" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="but_ClosePopup">關閉視窗</button>
                    <button type="button" class="btn btn-primary" onclick="ChangeGroupID();">提出申請</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
