@model Banner.Areas.Web.Controllers.IncludeController.cProductCard

<div class="card">
    <div class="img_Product">
        <a href="/Web/ClassStore/Product_Info/@Model.PID">
            <img src="@Model.ImgURL" class="card-img-top img_Product" />
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col fw-bolder" style="font-size:20px">@(Model.Title)<span class="lab_Category">@(Model.ProductType)</span></div>
        </div>
        <div class="row">
            <div class="col-12 mt-1">
                <i class="fa-solid fa-dollar-sign me-1"></i>
                @if (Model.Price_Basic != Model.Price_New)
                {
                    if (Model.Price_Early == Model.Price_New)//目前優惠價=早鳥
                    {
                        <span style="color: #3764AC">早鳥價 NT$@(Model.Price_New)</span>
                    }
                    else//折價比早鳥好
                    {
                        <span style="color: #3764AC">優惠價 NT$@(Model.Price_New)</span>
                    }
                    <span style="text-decoration: line-through;">原價 NT@(Model.Price_Basic)</span>
                }
                else if (Model.Price_Basic > 0)
                {
                    <span style="color: #3764AC">定價 NT$@(Model.Price_Basic)</span>
                }
                else
                {
                    <span style="color: #3764AC">免費</span>
                }
            </div>
            <div class="col-12 mt-1">
                <i class="fa-regular fa-calendar me-1"></i>開課日期：@(Model.SDate.ToString("yyyy/MM/dd")) - @(Model.EDate.ToString("yyyy/MM/dd"))
            </div>
            <div class="col-12 mt-1">
                <i class="fa-solid fa-users me-1"></i>@Model.TargetInfo
            </div>
            <div class="col-12 mt-1">
                <a class="btn brn_banner_dark" href="javascript:;" onclick="AddCart(@(TempData["UID"].ToString()),@(Model.PID));">
                    <i class="fa-solid fa-cart-shopping"></i> 加入購物車
                </a>
            </div>
        </div>
    </div>
</div>
